/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.light-box-shadow {
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.white-color {
    color: white !important;
}

.alt-product-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.alt-product-card-selected {
    transform: translateY(-25px) !important;
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

.alt-product-card-selected i .h4 .p  {
    color: white;
}

.title-link {
    color: black;
}

    .title-link:hover {
        color: #1ABC9C !important;
    }

.hover-shadow {
    cursor: pointer;
    border-radius: .2rem;
}
.hover-shadow:hover {
    opacity: .9;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}

/*Custom Image Size*/
.product-image-size{
    height: 120px;
    width: 100%;

}



.product-card-img {
    /*width: 18rem;*/
    height: 180px !important;
}

.h-100per {
    height: 100%;
}


.object-fit_cover {
    object-fit: cover;
}

.object-fit_none {
    object-fit: none;
}



/*/* ----- Hero Widget ----- */
#widget-subscribe-form {
    display: block;
    padding: 8px;
    background-color: #FFF;
    border: 1px solid #EEE;
    border-radius: 3px;
    box-shadow: 0 0 30px 4px rgba(0,0,0,0.15);
    transition: box-shadow .4s linear;
}

#widget-subscribe-form:hover {
        box-shadow: 0 0 42px 4px rgba(0,0,0,.3) !important;
    }
*/
/* ----- Tab ----- */
ul.tab-nav:not(.tab-nav-lg) {
    border-bottom: none;
}

ul.tab-nav:not(.tab-nav-lg) li {
    float: left;
    border: none;
    height: auto;
    text-align: center;
    list-style: none;
}

.tabs.tabs-alt ul.tab-nav li.ui-tabs-active a {
    border: none;
}

ul.tab-nav:not(.tab-nav-lg) li a {
    color: #1d2c4c;
    height: auto;
    line-height: 1;
    background-color: transparent;
    font-size: 15px;
    font-weight: 400;
    padding: 0 0 20px 0;
}

    ul.tab-nav:not(.tab-nav-lg) li a i {
        display: block;
        font-size: 42px;
        margin: 0 0 17px 0;
        color: #1c85e8;
    }

ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a {
    top: 0;
}

    ul.tab-nav:not(.tab-nav-lg) li.ui-tabs-active a:after {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
        border-radius: 50%;
        background: #1c85e8;
    }

.tab-container {
    margin: 30px 0 0;
}




/* ----- Tab Responsive ----- */
.acctitle {
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
    color: #444;
    border-top: 1px dotted #DDD;
    padding: 12px 0 12px 24px;
}

.acc_content {
    padding: 10px 0 25px;
}

.acctitle i {
    color: #1c85e8;
    font-size: 16px;
    top: 3px;
}

    .acctitle i.icon-ok-circle,
    .acctitle i.icon-remove-circle {
        display: none;
    }








/*
  07
  Icon Boxes
*/
.animated-icon {
    width: 100px;
}

    .animated-icon:not(.gradient-icon, [data-custom-color]) svg,
    .animated-icon:not(.gradient-icon, [data-custom-color]) svg * {
        stroke: #1f1f1f;
    }

    .animated-icon.colored svg,
    .animated-icon.colored svg * {
        stroke: #00c3da;
    }

    .animated-icon.white svg,
    .animated-icon.white svg * {
        stroke: #fff;
    }

.icon-box {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 0 10px;
}

@media only screen and (max-width: 767px) {
    .icon-box {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.icon-box h3 {
    font-size: 22px;
}

.icon-box h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
}

    .icon-box h4.upper {
        font-size: 13px;
        letter-spacing: 0.1em;
    }

    .icon-box h4.serif-font {
        font-size: 16px;
    }

.icon-box p.serif-font {
    font-size: 15px;
}

.icon-box > .animated-icon {
    width: 55px;
    margin-bottom: 25px;
}

.icon-box > i {
    font-size: 60px;
    color: #1f1f1f;
    line-height: 1;
    display: inline-block;
    margin-bottom: 15px;
}

    .icon-box > i.colored {
        color: #00c3da !important;
    }

.icon-box .ib-icon {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    display: block;
    margin-bottom: 25px;
    background-color: #00c3da;
    color: #fff;
}

    .icon-box .ib-icon.size-small {
        height: 65px;
        width: 65px;
        line-height: 65px;
    }

        .icon-box .ib-icon.size-small > i {
            font-size: 32px;
        }

    .icon-box .ib-icon .animated-icon {
        width: 45px;
        margin: auto;
        line-height: inherit;
        height: 100%;
        position: relative;
        z-index: 10;
    }

    .icon-box .ib-icon.dark-skin {
        border-color: #1f1f1f;
        background-color: #1f1f1f;
        color: #fff;
    }

        .icon-box .ib-icon.dark-skin:after {
            content: none;
        }

    .icon-box .ib-icon > i {
        font-size: 48px;
        line-height: inherit;
    }

        .icon-box .ib-icon > i:before {
            line-height: inherit;
        }

    .icon-box .ib-icon:hover > i {
        color: #fff !important;
    }

.icon-box.align-center {
    text-align: center;
}

    .icon-box.align-center > .animated-icon,
    .icon-box.align-center > .ib-icon {
        margin-left: auto;
        margin-right: auto;
    }

@media only screen and (max-width: 991px) {
    .icon-box.align-center {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
}

.icon-box.align-right {
    text-align: right;
    padding-right: 0;
}

    .icon-box.align-right > .animated-icon,
    .icon-box.align-right > .ib-icon {
        margin-left: auto;
        margin-right: 0;
    }

.icon-box.icon--big .animated-icon {
    width: 80px;
}

.icon-box.icon--big i {
    font-size: 80px;
}

.icon-box.icon--small .animated-icon {
    width: 40px;
}

.icon-box.icon--small i {
    font-size: 40px;
}

.icon-box.boxed-style {
    border: 1px solid #e6e6e6;
    padding: 35px;
    -webkit-transition: border-color 0.3s ease;
    transition: border-color 0.3s ease;
}

    .icon-box.boxed-style:hover {
        border-color: transparent;
    }

    .icon-box.boxed-style:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #1f1f1f;
        border-bottom: 1px solid #1f1f1f;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        width: 0;
    }

    .icon-box.boxed-style:hover:before {
        opacity: 1;
        width: 100%;
    }

    .icon-box.boxed-style:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-left: 1px solid #1f1f1f;
        border-right: 1px solid #1f1f1f;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
        height: 0;
    }

    .icon-box.boxed-style:hover:after {
        opacity: 1;
        height: 100%;
    }

.icon-box-side {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 75px;
}

@media only screen and (max-width: 767px) {
    .icon-box-side {
        margin-top: 50px;
        margin-bottom: 50px;
    }

        .icon-box-side:last-child {
            margin-bottom: 0;
        }
}

.icon-box-side h4 {
    font-size: 14px;
    font-weight: 600;
    margin-top: 0;
}

    .icon-box-side h4.serif-font {
        font-size: 16px;
    }

.icon-box-side .animated-icon {
    width: 50px;
    position: absolute;
    left: 0;
}

.icon-box-side > i {
    position: absolute;
    left: 0;
    line-height: 1;
    font-size: 50px;
    color: #1f1f1f;
}

.icon-box-side i.colored {
    color: #00c3da;
}

.icon-box-side p.serif-font {
    font-size: 15px;
}

.icon-box-side .ib-icon {
    position: absolute;
    left: 0;
    height: 55px;
    width: 55px;
    border: 1px solid #00c3da;
    border-radius: 50%;
    text-align: center;
    line-height: 55px;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

    .icon-box-side .ib-icon:after {
        content: "";
        position: absolute;
        right: -2px;
        bottom: -2px;
        top: -2px;
        left: -2px;
        padding: 2px;
        z-index: -1;
        background: #00c3da;
        border-radius: 50%;
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
        opacity: 0;
        -webkit-transition: opacity 0.4s, -webkit-transform .3s;
        transition: opacity 0.4s, -webkit-transform .3s;
        transition: transform .3s, opacity 0.4s;
        transition: transform .3s, opacity 0.4s, -webkit-transform .3s;
    }

    .icon-box-side .ib-icon > i {
        font-size: 28px;
        line-height: inherit;
    }

        .icon-box-side .ib-icon > i:before {
            line-height: inherit;
        }

    .icon-box-side .ib-icon:hover:after {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .icon-box-side .ib-icon:hover > i {
        color: #fff !important;
    }

.icon-box-side.size-small {
    padding-left: 60px;
}

    .icon-box-side.size-small > i {
        font-size: 35px;
    }

.counter {
    margin: 25px 0;
    overflow: hidden;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .counter {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.counter.align-left {
    text-align: left;
}

.counter-icon .animated-icon {
    width: 40px;
    display: inline-block;
}

.counter-icon i {
    font-size: 50px;
}

.counter-icon + .counter-content > h5 {
    margin: 20px 0 10px;
}

@media only screen and (min-width: 992px) {
    .counter-content {
        border-right: 1px solid #e5e5e5;
    }
}

.counter-content > h5 {
    font-size: 45px;
    margin-top: 0;
}

@media only screen and (min-width: 992px) {
    [class^=""]:last-child .counter-content {
        border-right: 0;
    }
}

.number-box {
    margin: 25px auto;
    max-width: 350px;
    text-align: center;
    position: relative;
}

    .number-box.align-left {
        margin-left: 0;
        text-align: left;
    }

    .number-box > h2 {
        font-size: 66px;
        margin-top: 0;
        color: #9f9f9f;
    }

    .number-box > h3 {
        font-size: 42px;
        margin-top: 0;
        color: #9f9f9f;
    }

    .number-box > h4 {
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.07em;
    }

    .number-box > .number-wrap {
        position: relative;
        width: 90px;
        height: 90px;
        border: 2px solid #00c3da;
        background-color: transparent;
        line-height: 86px;
        text-align: center;
        border-radius: 50%;
        margin-right: auto;
        margin-left: auto;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;
    }

        .number-box > .number-wrap > h2 {
            font-size: 32px;
            margin: 0;
            line-height: inherit;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
        }

    .number-box:hover > .number-wrap {
        border-color: #00c3da;
        background-color: #00c3da;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

        .number-box:hover > .number-wrap > h2 {
            color: #fff;
        }

    .number-box .number-box-content > h3 {
        letter-spacing: -1px;
        font-size: 22px;
    }

.dark-bg .icon-box i,
.parallax-section .icon-box i {
    color: #fff;
}

.dark-bg .icon-box p,
.dark-bg .icon-box-side p,
.dark-bg .icon-box ul,
.dark-bg .icon-box-side ul {
    color: #c5c5c5;
}

.icon-box-simple {
    margin: 10px 0;
}

    .icon-box-simple .ib-icon-holder,
    .icon-box-simple .ib-text-holder {
        display: inline-block;
        vertical-align: middle;
    }

    .icon-box-simple i {
        font-size: 34px;
        color: #ababab;
    }

        .icon-box-simple i.black {
            color: #1f1f1f;
        }

        .icon-box-simple i.colored {
            color: #00c3da;
        }

        .icon-box-simple i:before {
            vertical-align: middle;
        }

    .icon-box-simple h4 {
        font-size: 12px;
        font-weight: 500;
        margin: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

.text-box {
    margin: 25px 0;
}

    .text-box h3 {
        font-size: 22px;
    }

    .text-box h4 {
        font-size: 14px;
        font-weight: 600;
    }





.review-box {
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    margin: 20px auto 20px auto;
    border: 1px solid lightgray;
    padding-bottom: 10px;
}


.content-wrap-custom {
 
    padding: 100px 0px 40px 0px;
}

.custom-body {
    color: #e1e1e6;
}



.counter-custom {
    margin: 25px 0; 
    font-size: 35px;
    font-weight: 600;
    font-family: 'Raleway', sans-serif;
}

    .counter-custom + h5 {
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-top: 10px;
    }

.section-custom-dark {
    /*background-color: #282828bf;*/
    position: relative;
    margin: 60px 0;
    padding: 20px 0 20px 0;
    overflow: hidden;
    background-color: #282828e3;
}






/*
    REVIEW ON REALESTATE
*/
.rating-stars {
    margin: 20px 0;
}

    .rating-stars i {
        font-size: 24px;
        margin: 0 2px;
        color: gold;
    }

    .rating-stars-sm i {
        font-size: 15px;
        margin: 0 2px;
        color: gold;
    }

.review-date {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 10px;
}

.review-title h3:before {
    content: "\e7ad";
    font-family: 'font-icons';
    position: absolute;
    top: -5px;
    left: -70px;
    height: 60px;
    font-size: 60px;
    color: #525975;
    line-height: 60px;
    opacity: .1;
}

.review-title h3 {
    font-family: 'PlayFair Display';
    font-size: 28px;
    color: #1d2c4c;
    margin-bottom: 20px;
}

.owl-item .review-content {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 1s linear;
}

    .owl-item .review-content:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        z-index: 9;
        transition: all .3s linear;
        background: linear-gradient(180deg,hsla(0,0%,100%,0) -1%,hsla(0,0%,100%,.01) 0,#fff);
    }

    .owl-item .review-content:hover {
        max-height: 500px;
    }

        .owl-item .review-content:hover:after {
            background: transparent;
        }

.review-content p {
    margin: 0;
    color: #888;
    font-size: 16px;
    white-space: pre-line;
}



/* ----- Review ----- */
.review-row {
    padding-bottom: 24px;
    border-bottom: 1px solid #EEE;
}

    .review-row h6 {
        font-size: 18px;
        font-weight: 400;
        color: #1d2c4c;
        margin-bottom: 0;
    }

.review {
    border-top: 1px solid hsla(60,1%,75%,.3);
    border-bottom: 1px solid hsla(60,1%,75%,.3);
    padding-bottom: 52px;
    padding-top: 52px;
}

.review-company {
    display: block;
    font-size: 17px;
    font-weight: 500;
    color: #1d2c4c;
}

.review-id {
    color: #AAA;
    font-weight: 300;
    font-size: 16px;
}

.rating-stars {
    margin: 20px 0;
}

    .rating-stars i {
        font-size: 24px;
        margin: 0 2px;
        color: gold;
    }

.review-date {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 10px;
}

.review-title h3:before {
    content: "\e7ad";
    font-family: 'font-icons';
    position: absolute;
    top: -5px;
    left: -70px;
    height: 60px;
    font-size: 60px;
    color: #525975;
    line-height: 60px;
    opacity: .1;
}

.review-title h3 {
    font-family: 'PlayFair Display';
    font-size: 28px;
    color: #1d2c4c;
    margin-bottom: 20px;
}

.owl-item .review-content {
    position: relative;
    max-height: 140px;
    overflow: hidden;
    transition: all 1s linear;
}

    .owl-item .review-content:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
        z-index: 9;
        transition: all .3s linear;
        background: linear-gradient(180deg,hsla(0,0%,100%,0) -1%,hsla(0,0%,100%,.01) 0,#fff);
    }

    .owl-item .review-content:hover {
        max-height: 500px;
    }

        .owl-item .review-content:hover:after {
            background: transparent;
        }

.review-content p {
    margin: 0;
    color: #888;
    font-size: 16px;
    white-space: pre-line;
}

.bgcolor-custom,
.bgcolor-custom #header-wrap {
    background-color: #c85e51 !important;
}


/*SELECTION BOX CUSTOMIZED*/

.col-padding-custom{
    padding:40px 60px 0px 60px;
}


/* ----------------------------------------------------------------
	Slider
-----------------------------------------------------------------*/
.slider-element .heading-block p {
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 5px;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.slider-element .slider-product-desc {
    position: absolute;
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
    width: 65%;
    z-index: 2;
}

    .slider-element .slider-product-desc [class^='col-'] {
        background-color: #353535;
        padding: 30px;
    }


    .slider-element .slider-product-desc [class^='col-'] {
        padding: 50px;
    }


.slider-element .vertical-middle .container {
    top: -60px;
}

.play-icon {
    position: relative;
    display: block;
    font-size: 18px;
    margin: 20px 0 0 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    color: #FFF !important;
    border: 2px solid #EEE;
    text-align: center;
    -webkit-transition: transform .3s ease;
    -o-transition: transform .3s ease;
    transition: transform .3s ease;
}

    .play-icon i {
        position: relative;
        left: 2px;
    }

    .play-icon:hover {
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
    }

.heading-block h3 {
    font-weight: 800;
    text-transform: none;
    font-size: 2.3rem;
    letter-spacing: 0;
}

.edge-underline h3,
.product:hover .product-title h3 {
    text-decoration: underline;
    text-decoration-skip: edges;
}
