@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Us Page";
}

<section id="page-title" class="page-title-parallax page-title-dark" style="padding: 250px 0; background-image: url('/images/background/AboutUsPage.jpg'); background-size: cover; background-position: center center;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

    <div class="container clearfix">
        <h1>About Us</h1>
        <span>Learn More About Funding Avenue</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">AboutUs</li>
        </ol>

    </div>

</section><!-- #page-title end -->

<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            <div class="col_one_third">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Why choose<span> us</span>.</h4>
                </div>

                <p>
                    Funding Avenue provides consulting services for funding procurement to small businesses
                    nationwide. We have processed unsecured funding for many of the major companies
                    out there. We have a combined experience of over 20 years in the industry. Our job is to scour the
                    market for money for your needs. We don’t carry every product, but we specialize in the products we
                    have available.
                </p>
            </div>

            <div class="col_one_third">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>What we <span>do</span>.</h4>
                </div>

                <p>
                    We work along with our partnering lending institutions to provide credit lines with no
                    restrictions to all types of businesses.
                    Whether your company is a start-up or you need capital for an
                    existing business, we are here to assist you with your funding needs.
                    @*We aim to provide business lines of credit with no restrictions to all types of businesses, whether the company is just
                        starting and wants to have a startup capital or a seasoned business that needs more funding to grow. *@
                </p>
            </div>

            <div class="col_one_third col_last">

                <div class="heading-block fancy-title nobottomborder title-bottom-border">
                    <h4>Our<span> Mission</span>.</h4>
                </div>

                <p>
                    We believe in providing an exceptional customer experience to every customer. Our US based sales and support teams are always ready to assist our clients.
                    We also strive to make the
                    process as simple as possible without having to jump through all the hoops.
                    Let us help you start your road to success.
                </p>
            </div>

        </div>

        <div class="section nomargin">
            <div class="container clearfix">

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                    <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                    <div class="counter counter-lined"><span data-from="1" data-to="50" data-refresh-interval="30" data-speed="2000"></span>M+</div>
                    <h5>Raised Fund</h5>
                </div>

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-graph"></i>
                    <div class="counter counter-lined"><span data-from="1" data-to="15" data-refresh-interval="3" data-speed="2500"></span>K+</div>
                    <h5>No. of Companies</h5>
                </div>

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-layers"></i>
                    <div class="counter counter-lined"><span data-from="10" data-to="205" data-refresh-interval="25" data-speed="3500"></span>+</div>
                    <h5>Partnering Lending Institutions </h5>
                </div>

                <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-clock"></i>
                    <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
                    <h5>Fast Response</h5>
                </div>

            </div>
        </div>

    </div>
    <div class="line topmargin-sm bottommargin"></div>
    <div class="promo promo-full header-stick ">
        <div class="container clearfix">
            <h3>Call us today at <span>+1.714.515.3968</span> or Email us at <span>Michael@fundingavenue.com</span></h3>
            <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
            <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
        </div>
    </div>


</section><!-- #content end -->