<div class="col_full">
    <label for="template-contactform-message">Comments <small>*</small></label>
    <textarea class="sm-form-control" id="template-contactform-message" name="template-contactform-message" rows="6" cols="30" ng-model="applyInfo.comments"></textarea>
</div>