<div>
    <div class="container">
        <div class="text-center">
            <div class="heading-block">
                <h2>Getting a copy of your Credit Score.</h2>
                <h6>
                    Head over to <a href="https://creditkarma.com" target="_blank">CreditKarma.com</a> and get your credit report.
                </h6>
            </div>

            <div>
                <div class="heading-block">
                    <h3>Don't have a Credit Karma account?</h3>
                </div>
                <h6>
                    If you don't have a credit karma account, get started <a href="https://www.creditkarma.com/signup" target="_blank">here</a>.
                </h6>
            </div>

            <div>
                <div class="heading-block">
                    <h3>Already have a Credit Karma account?</h3>
                    <h6>Once you have a credit karma account, click <a href="https://www.creditkarma.com/myfinances/creditreport" target="_blank">here</a> to login view your credit report page.</h6>
                </div>
            </div>

            <div>
                <div class="heading-block">
                    <h1>Credit Report Instructions</h1>
                </div>
                <h4>Saving a copy of your credit score report.</h4>
            </div>

            <div class="heading-block">
                <p>Click on <b>Print this report</b> on the top right of the page.</p>
            </div>
            <img class="bottommargin-sm" src="~/images/apply/1.jpg" />

            <div class="heading-block">
                <p>Click on <b>Print this page</b> on the top left.</p>
            </div>
            <img class="bottommargin-sm" src="~/images/apply/2.png" />

            <div class="heading-block">
                <p>Change <b>destination</b> to <b>Save as PDF</b></p>
            </div>
            <img src="~/images/apply/3.png" />
            <img class="bottommargin-sm" src="~/images/apply/4.png" />
          

            <div class="heading-block">
                <p>Save your PDF Credit Report and have it prepared for processing your application.</p>
            </div>
            <img class="bottommargin-sm" src="~/images/apply/5.png" />

        </div>
    </div>
</div>