@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Review Page";
}


<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('/images/background/ReviewPage.jpg'); background-size: cover; padding:250px 0;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

    <div class="container clearfix">
        <h1>Review</h1>
        <span>See what other clients talk about Us</span>
        @*<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Shortcodes</a></li>
            <li class="breadcrumb-item active" aria-current="page">Testimonials &amp; Twitter</li>
        </ol>*@
    </div>

</section><!-- #page-title end -->
<!-- Content
============================================= -->
<section id="content">

    <div class="content-wrap">

        <div class="container clearfix">

            @*<h3>Testimonials Grid</h3>

            <ul class="testimonials-grid grid-3 clearfix">
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                            <div class="testi-meta">
                                John Doe
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                            <div class="testi-meta">
                                Collis Ta'eed
                                <span>Envato Inc.</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/7.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
                            <div class="testi-meta">
                                Mary Jane
                                <span>Google Inc.</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                            <div class="testi-meta">
                                Steve Jobs
                                <span>Apple Inc.</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/4.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
                            <div class="testi-meta">
                                Jamie Morrison
                                <span>Adobe Inc.</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/8.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Porro dolorem saepe reiciendis nihil minus neque. Ducimus rem necessitatibus repellat laborum nemo quod.</p>
                            <div class="testi-meta">
                                Cyan Ta'eed
                                <span>Tutsplus</span>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="line"></div>*@

            <h3>Review</h3>

            <ul class="testimonials-grid clearfix">
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                This group of professionals make this process very steady and smoothly from beginning to the end. Their
                                teamwork is superb and I am satisfied with the end result. They have made this process as painless and
                                stress-free as possible. Very communicative and helpful with all my questions. Five stars for excellent
                                customer service.
                            </p>
                            <div class="testi-meta">
                                Douglas
                                <span>Lincoln, NE</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                They went above and beyond expectations. Highly recommend this team who needs start up funding or
                                additional funding to their business! If you want free professional business advice? Michael is your guy.
                                You’re welcome.
                            </p>
                            <div class="testi-meta">
                                Toby
                                <span>Dallas, TX</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                What can I say? This group of hard workers has helped me greatly in my business! I was struggling with
                                my financial situation but they have helped me so much. The whole process is smoothly done. They
                                have informed with updates every step of the way. I tend to worry a lot but with them, I feel safe and I
                                put a lot of trust with them! They did not disappoint! Every question was never left unanswered.
                                Funding Avenue was the best decision I made! Thanks guys!
                            </p>
                            <div class="testi-meta">
                                Chelsea
                                <span>Miami, FL</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                I was very nervous in the beginning but after speaking to the underwriting manager and being assigned
                                to the account manager, my nervousness washed away. Thank you for being patient with little ol’ me.
                                Their customer service is always prompt. Ms. Christie is always so nice and kind. I enjoy doing business
                                with them. I will return in the future when my business needs a second location.
                            </p>
                            <div class="testi-meta">
                                Emma
                                <span>Lakewood, CA</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                Never in a million years would I think that obtaining funding of my business will be this easy! I was in
                                need to renovate my business and that adds up to a lot of needed funds. I’ve been to many other banks,
                                brokers, agencies, you name it! to help me but their rates were always so high and I don’t want to go in
                                over my head with something I will not be able to handle later. Funding Avenue have made this all
                                possible and I can not be even happier!! They are great! They are amazing! What can I say by saying
                                thank you and thank you. I will definitely recommend all my friends and family in need of business
                                funding! (They do personal funding as well!). Elsie is a wonderful account manager!
                            </p>
                            <div class="testi-meta">
                                Donna
                                <span>Seattle, WA</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                A group of amazing people. As a small business owner, this is like a blessing in disguise. I’ve always

                                wanted to own my own nail salon and this was made possible thanks to Funding Avenue. This is a
                                serious review for them! What they say, they deliver, even more than that.
                            </p>
                            <div class="testi-meta">
                                Ly
                                <span>Dallax, TX</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                I give this team a five-star rating! They have done so much for me and my business partners in our
                                business. We were in a pinch with cutting the time so closely but they have made it possible! Thank you,
                                Michael, and Elsi!
                            </p>
                            <div class="testi-meta">
                                Jenna
                                <span>Miami, FL</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial">
                        <div class="testi-content">
                            <p>
                                Good job, Funding Avenue! You are a game changer! I’ll definitely come back to you for more services in
                                the future. You guys are amazing!
                            </p>
                            <div class="testi-meta">
                                Valerie
                                <span>New York City, NY</span>
                            </div>
                        </div>
                    </div>
                </li>

            </ul>

            <div class="line"></div>

            <div class="col_half">

                <h4>Testimonials Scroller</h4>

                <div class="fslider testimonial" data-animation="fade" data-arrows="false">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                    <div class="testi-meta">
                                        Steve Jobs
                                        <span>Apple Inc.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                    <div class="testi-meta">
                                        Collis Ta'eed
                                        <span>Envato Inc.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                    <div class="testi-meta">
                                        John Doe
                                        <span>XYZ Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col_half col_last">

                <h4>Tweets Scroller</h4>

                <div class="fslider customjs testimonial twitter-scroll twitter-feed" data-username="envato" data-count="2" data-animation="slide" data-arrows="false">
                    <i class="i-plain i-large color icon-twitter nobottommargin" style="margin-right: 20px;"></i>
                    <div class="flexslider" style="width: auto;">
                        <div class="slider-wrap">
                            <div class="slide"></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="clear"></div>

            <div class="fslider testimonial testimonial-full bottommargin" data-animation="fade" data-arrows="false">
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                            </div>
                            <div class="testi-content">
                                <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                <div class="testi-meta">
                                    Steve Jobs
                                    <span>Apple Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                            </div>
                            <div class="testi-content">
                                <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                <div class="testi-meta">
                                    Collis Ta'eed
                                    <span>Envato Inc.</span>
                                </div>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="testi-image">
                                <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                            </div>
                            <div class="testi-content">
                                <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum!</p>
                                <div class="testi-meta">
                                    John Doe
                                    <span>XYZ Inc.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h3 class="center">Testimonials Carousel</h3>

            <div id="oc-testi" class="owl-carousel testimonials-carousel carousel-widget" data-margin="20" data-items-sm="1" data-items-md="2" data-items-xl="3">

                <div class="oc-item">
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/1.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                            <div class="testi-meta">
                                John Doe
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/2.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                            <div class="testi-meta">
                                Collis Ta'eed
                                <span>Envato Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/7.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
                            <div class="testi-meta">
                                Mary Jane
                                <span>Google Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/3.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                            <div class="testi-meta">
                                Steve Jobs
                                <span>Apple Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="oc-item">
                    <div class="testimonial">
                        <div class="testi-image">
                            <a href="#"><img src="images/testimonials/4.jpg" alt="Customer Testimonails"></a>
                        </div>
                        <div class="testi-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
                            <div class="testi-meta">
                                Jamie Morrison
                                <span>Adobe Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="section center footer-stick">

            <div class="fslider customjs testimonial testimonial-full twitter-scroll twitter-feed" data-username="envato" data-count="2" data-animation="slide" data-arrows="false">
                <i class="i-plain i-large color icon-twitter divcenter bottommargin-sm"></i>
                <div class="flexslider">
                    <div class="slider-wrap">
                        <div class="slide"></div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section><!-- #content end -->
