@{
    ViewData["Title"] = "Home Page";
}

<section id="slider" class="slider-element clearfix" style="height: 500px; background: url('/images/background/HomePage.jpg') center center no-repeat; background-size: cover;">
    <div class="vertical-middle">
        <div class="container clearfix">

            <div class="clearfix center divcenter" style="max-width: 700px;">
                <div class="emphasis-title">
                    <h1 class="font-secondary" style="color: #FFF; font-size: 56px; font-weight: 900; text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);">Your Money Is Our Priority</h1>
                    <p style="font-weight: 300; opacity: .7; color: #FFF; text-shadow: 0 -4px 20px rgba(0, 0, 0, .25);">Unlock retirement assets to fund your business.<br>No interest. No tax penalties</p>
                </div>
                <button onclick="window.location = '/apply'" class="button t400" style="border-radius: 3px;">Apply Now</button>

                @*<div class="subscribe-widget" data-loader="button">
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin" data-animate="fadeInUp">
                            <div class="input-group divcenter">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Enter your Email Address.." style="border: 0; box-shadow: none; overflow: hidden;">
                                <div class="input-group-append">
                                </div>
                            </div>
                        </form>
                    </div>*@
            </div>

        </div>
    </div>


</section>
<section id="content">

    <div class="content-wrap nobottompadding" style="z-index: 1;">

        <div class="container topmargin clearfix">

            <!-- What We Do
            ============================================= -->
            <div class="heading-block center noborder" data-heading="W">
                <h3>What We Do</h3>
            </div>
            <div class="row clearfix">
                <div class="center col-lg-8 offset-lg-2 bottommargin">
                    <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                        What loan product is right for you, and how do you qualify for it?
                        <br>We're here to walk you through the whole <span class="t-rotate color">Business,Personal,Real Estate</span> Loan Application Process
                    </h3>
                </div>

                <div class="clear"></div>

                <!-- Features colomns
                ============================================= -->
                <div class="row">
                    <div class="col-sm-3 bottommargin-sm">
                        @*divide 12/number of columns you want; will get you 4 columns here*@
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/UnsecuredLoans"><img class="image_fade product-image-size" src="~/images/background/UnsecuredLoanHomePage.jpg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Unsecured Loans<span class="subtitle font-secondary t300 ls0">Globally parallel task premium infomediaries</span></h3>
                                <a href="/products/unsecuredloans" class="button-link noborder color">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 bottommargin-sm">
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/perseonalloans"><img class="image_fade product-image-size" src="~/images/background/PersonalLoanHomePage.jpg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Personal Loans<span class="subtitle font-secondary t300 ls0">Energistically visualize market-driven.</span></h3>
                                <a href="/products/personalloans" class="button-link noborder color">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 bottommargin-sm">
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/businessentitycreation"><img class="image_fade product-image-size" src="~/images/background/BusinessEntityHomePage.jpg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Business Entity Creation<span class="subtitle font-secondary t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                                <a href="/products/businessentitycreation" class="button-link noborder color">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 bottommargin-sm">
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/realestate"><img class="image_fade product-image-size" src="~/images/background/RealEstateHomePage.jpeg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Real Estate<span class="subtitle font-secondary t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                                <a href="/products/realestate" class="button-link noborder color">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section>
    <div class="section nomargin">
        <div class="container clearfix">

            <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                <div class="counter counter-lined"><span data-from="100" data-to="846" data-refresh-interval="50" data-speed="2000"></span>K+</div>
                <h5>Raised Funds</h5>
            </div>

            <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-graph"></i>
                <div class="counter counter-lined"><span data-from="3000" data-to="15360" data-refresh-interval="100" data-speed="2500"></span>+</div>
                <h5>No. of Companies</h5>
            </div>

            <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-layers"></i>
                <div class="counter counter-lined"><span data-from="10" data-to="408" data-refresh-interval="25" data-speed="3500"></span>*</div>
                <h5>No. of Credit Union Partners </h5>
            </div>

            <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-clock"></i>
                <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
                <h5>24/7 Support</h5>
            </div>

        </div>
    </div>

</section>

<section id="content">

    <div class="content-wrap" style="padding-bottom: 10px;">

        <div class="container clearfix">

            <div class="row clearfix">

                <div class="col-lg-4 center bottommargin">
                    @*<i class="i-plain color i-large icon-line2-screen-desktop inline-block" style="margin-bottom: 20px;"></i>*@
                    <i class="fas fa-3x color fa-money-bill-wave" style="margin-bottom: 20px;"></i>
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <span class="before-heading">Get eligibility in minutes online, over the phone.</span>
                        <h4>Fast access to cash</h4>
                    </div>
                    <p>Complete application, and if approved, funds are transferred as fast as the next business day.</p>
                </div>

                <div class="col-lg-4 center bottommargin">
                    <i class="fas fa-3x color fa-bolt" style="margin-bottom: 20px;"></i>
                    @*<i class="i-plain color i-large icon-line2-energy inline-block" style="margin-bottom: 20px;"></i>*@
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <span class="before-heading">No late fees, no early repayment fees, and no processing fees.</span>
                        <h4>A good deal</h4>
                    </div>
                    <p>Pay one, competitively-priced, fixed fee that you know in advance. No late fees, no early repayment fees, and no processing fees.**</p>
                </div>

                <div class="col-lg-4 center bottommargin">
                    <i class="i-plain color i-large icon-line2-equalizer inline-block"></i>
                    <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                        <span class="before-heading">Flexible &amp; Customizable.</span>
                        <h4>Tailored terms</h4>
                    </div>
                    <p>Choose the loan amount and term (13 to 52 weeks based on loan amount) that fit your business needs.</p>
                </div>

            </div>

            @*<div class="line notopmargin"></div>*@


        </div>

    </div>

</section>


<section>
    <div class="section notopmargin clearfix">
        <div class="running-car topmargin-sm in-view">
            <img class="car" style="margin-left: -330px;" src="~/demos/doctor1.png" alt="">
            @*<img class="wheel" src="demos/man.png" alt="">*@
        </div>
        <div class="container clearfix">
            <div class="row clearfix" style="position: relative;">
                <div class="col-lg-6 offset-lg-6">
                    <div class="heading-block hlarge">
                        <h3>Take Control<br>Of Your Finances</h3>
                    </div>
                    <p>Accessing small business funding shouldn't be complicated or time-consuming, so we developed a simple way to get up to $100,000 in minutes</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content">
    <div class="content-wrap" style="padding-top: 0px;">

        <div class="container clearfix">
            <h3 class="center">What <span>Clients</span> Say</h3>

            <div class="row clearfix">

                <div class="fslider testimonial testimonial-full noshadow noborder nopadding divcenter" data-animation="fade" data-arrows="false" style="max-width: 700px;">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="testi-content" ">
                                    <p>Funding Avenue was very helpful in getting my restaurant off the ground. Could not have done it without them. I found the process to be fairly quick and painless and would not hesitate to repeat it.</p>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Funding Avenue was very helpful in getting my restaurant off the ground. Could not have done it without them. I found the process to be fairly quick and painless and would not hesitate to repeat it.</p>
                                    @*<div class="testi-meta">
                                    Steve Jobs
                                    <span>Apple Inc.</span>
                                </div>*@
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>It was great working with Funding Avenue. They were very patient with me and always explained whenever I got confused. I would definitly recommend them to anyone I know for sure.</p>
                                    @*<div class="testi-meta">
                                    Collis Ta'eed
                                    <span>Envato Inc.</span>
                                </div>*@
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>
                                        I needed cash for my business in a timely manner, and they delivered. They went above and beyond to expedite important paperwork and prevent unnecessary delays.
                                    </p>
                                    @*<div class="testi-meta">
                                    John Doe
                                    <span>XYZ Inc.</span>
                                </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>