@{
    ViewData["Title"] = "Get Money Fast for Your Businesses";
}
<div ng-controller="HomeController as vm">

    <section id="slider" class="slider-element clearfix" style="height: 500px; background: url('/images/background/HomePage2.jpg') center center no-repeat; background-size: cover;">
        <div class="vertical-middle">
            <div class="container clearfix">

                <div class="clearfix center divcenter" style="max-width: 700px;">
                    <div class="emphasis-title">
                        <h1 class="font-secondary" style="color: #FFF; font-size: 56px; font-weight: 900; text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);">Your Money Is Our Priority</h1>
                    </div>
                    <button onclick="window.location = '/apply'" class="button t400" style="border-radius: 3px;">Apply Now</button>
                </div>

            </div>
        </div>
    </section>

    <section id="content">

        <div class="nobottompadding" style="z-index: 1;padding-top:30px;">

            <div class="container topmargin clearfix">

                <!-- What We Do
                ============================================= -->
                <div class="heading-block center noborder" data-heading="W">
                    <h3>What We Do</h3>
                </div>
                <div class="row clearfix">
                    <div class="center col-lg-8 offset-lg-2 bottommargin">
                        <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">
                            What loan product is right for you, and how do you qualify for it?
                            <br>We're here to walk you through the whole <span class="t-rotate color">Business,Personal,Real Estate</span> Loan Application Process
                        </h3>
                    </div>
                </div>

                <div class="clear"></div>
                <div class="row">
                    <div class="col-sm-3 bottommargin-sm">
                        <div class="card" style="width: 18rem" ng-click="vm.navigateToBusinessCreditLines()">
                            <div class="product-card-img">
                                <img class="card-img-top object-fit_cover h-100per" src="~/images/background/BusinessEntityHomePage.jpg" alt="personal loan product image" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Business Revolving Credit Lines
                                </h5>
                                <p class="card-text">
                                    Enthusiastically iterate enabled portals after.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bottommargin-sm">
                        <div class="card" style="width: 18rem" href="/products/unsecuredloans">
                            <div class="product-card-img">
                                <img class="card-img-top object-fit_cover h-100per" src="~/images/background/UnsecuredLoanHomePage.jpg" alt="unsecured loan product image" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Personal Revolving Credit Lines
                                </h5>
                                <p class="card-text">
                                    Globally parallel task premium infomediaries
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bottommargin-sm">
                        <div class="card" style="width: 18rem" href="/products/personalloans">
                            <div class="product-card-img">
                                <img class="card-img-top object-fit_cover h-100per" src="~/images/background/PersonalLoanHomePage.jpg" alt="personal loan product image" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Personal Cash Loans
                                </h5>
                                <p class="card-text">
                                    For whatever's ahead, we're right there with you.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3 bottommargin-sm">
                        <div class="card" style="width: 18rem">
                            <div class="product-card-img">
                                <img class="card-img-top object-fit_cover h-100per" src="~/images/background/RealEstateHomePage.jpeg" alt="personal loan product image" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">
                                    Real Estate
                                </h5>
                                <p class="card-text">
                                    Enthusiastically iterate enabled portals after.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="line m-0"></div>

    <section>
        <div class="container clearfix">
            <div class="heading-block divcenter nobottomborder center clearfix" style="max-width: 600px; padding-top: 4em;">
                <small class="text-black-50 uppercase ls3 t600">Mix and Match</small>
                <h2 class="capitalize t600 mb-2" style="font-size: 36px; letter-spacing: -1px">Looking for an all inclusive solution?</h2>
                <p class="mb-3">We'll set you up with everything you need to get started.</p>
                <div class="center"><a href="/product/alternativefunding" class="button ls0 button-rounded button-border nott t400 ">Pick and Choose</a></div>
            </div>
        </div>
    </section>

    <div class="promo promo-border promo-dark promo-full nobottommargin" style="padding: 60px 0 !important">
        <div class="container clearfix">
            <div class="divcenter center" style="max-width: 900px;">
                <h3 class="nobottommargin t400 nott ls0 h5">
                    We will help you form your entity to start your road to success
                    <a href="#" class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400" style="position: relative; top: 12px; margin-left: 35px;"><span>Learn More</span></a>
                </h3>
            </div>
        </div>
    </div>

    <section>
        <div class="section nomargin">
            <div class="container clearfix">

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn">
                    <i class="i-plain i-xlarge divcenter icon-line2-directions"></i>
                    <div class="counter counter-lined"><span data-from="1" data-to="50" data-refresh-interval="30" data-speed="2000"></span>M+</div>
                    <h5>Raised Fund</h5>
                </div>

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="200">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-graph"></i>
                    <div class="counter counter-lined"><span data-from="1" data-to="15" data-refresh-interval="3" data-speed="2500"></span>K+</div>
                    <h5>No. of Companies</h5>
                </div>

                <div class="col_one_fourth nobottommargin center" data-animate="bounceIn" data-delay="400">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-layers"></i>
                    <div class="counter counter-lined"><span data-from="10" data-to="205" data-refresh-interval="25" data-speed="3500"></span>+</div>
                    <h5>Partnering Lending Institutions </h5>
                </div>

                <div class="col_one_fourth nobottommargin center col_last" data-animate="bounceIn" data-delay="600">
                    <i class="i-plain i-xlarge divcenter nobottommargin icon-line2-clock"></i>
                    <div class="counter counter-lined"><span data-from="60" data-to="1200" data-refresh-interval="30" data-speed="2700"></span>+</div>
                    <h5>Fast Response</h5>
                </div>

            </div>
        </div>
    </section>


    <div class="section parallax nobottommargin notopborder clearfix skrollable skrollable-between nomargin" style="background-image: url('http://themes.semicolonweb.com/html/canvas/demos/business/images/sections/2.jpg'); background-size: cover; background-position: 0px 194.257px;" data-bottom-top="background-position:0px 300px;" data-top-bottom="background-position:0px -300px;">
        <div class="container clearfix">
            <div class="row cleafix">
                <div class="col-md-6 dark">
                    <div class="topmargin-lg d-none d-lg-block"></div>
                    <div class="heading-block bottommargin-sm noborder">
                        <h3 class="nott" style="font-size: 46px; font-weight: 700; letter-spacing: -2px; line-height: 58px">Collections from Our Customers.</h3>
                    </div>
                    <a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
                </div>
                <div class="topmargin d-block d-lg-none d-xl-block"></div>

                <div class="col-md-5 offset-md-1">
                    <h4 class="dark">Client Feedback</h4>
                    <div class="fslider testimonial" data-animation="slide" data-arrows="false">
                        <div class="flexslider">

                            <div class="flex-viewport" style="overflow: hidden; position: relative;">
                                <div class="slider-wrap" style="width: 1400%; transition-duration: 0s; transform: translate3d(-831px, 0px, 0px);">
                                    <div class="slide clone" aria-hidden="true" style="width: 415.5px; margin-right: 0px; float: left; display: block;">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary">Funding Avenue was very helpful in getting my restaurant off the ground. Could not have done it without them. I found the process to be fairly quick and painless and would not hesitate to repeat it.</p>
                                                <div class="testi-meta">
                                                    Stacy Comer
                                                    <span>Reno, NV</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide" style="width: 415.5px; margin-right: 0px; float: left; display: block;" data-thumb-alt="">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary">I needed cash for my business in a timely manner, and they delivered. They went above and beyond to expedite important paperwork and prevent unnecessary delays.</p>
                                                <div class="testi-meta">
                                                    Collin Green
                                                    <span>Irvine, CA</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide flex-active-slide" data-thumb-alt="" style="width: 415.5px; margin-right: 0px; float: left; display: block;">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary">It was great working with Funding Avenue. They were very patient with me and always explained whenever I got confused. I would definitly recommend them to anyone I know for sure.</p>
                                                <div class="testi-meta">
                                                    Marco Smith
                                                    <span>San Diego, CA</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide" data-thumb-alt="" style="width: 415.5px; margin-right: 0px; float: left; display: block;">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary">Excellent service! As a small business owner, they got me even more funding than I ever expected and kept in touch with me every step of the way!</p>
                                                <div class="testi-meta">
                                                    Fernando Garcia
                                                    <span>Buena Park, CA</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide" data-thumb-alt="" style="width: 415.5px; margin-right: 0px; float: left; display: block;">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary">
                                                    A group of amazing people. This is like a blessing in disguise. I’ve always
                                                    wanted to own my own nail salon and this was made possible thanks to Funding Avenue. What they say, they deliver, even more than that.
                                                </p>
                                                <div class="testi-meta">
                                                    Emma
                                                    <span>Lakewood, CA</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide" data-thumb-alt="" style="width: 415.5px; margin-right: 0px; float: left; display: block;">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary">Good job, Funding Avenue! You are a game changer! I’ll definitely come back to you for more services in the future. You guys are amazing!</p>
                                                <div class="testi-meta">
                                                    Valeria
                                                    <span>New York, NY</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide clone" style="width: 415.5px; margin-right: 0px; float: left; display: block;" aria-hidden="true">
                                        <div class="testimonial noborder noshadow">
                                            <div class="testi-content">
                                                <p class="bottommargin-sm font-primary"> A group of amazing people. As a small business owner, this is like a blessing in disguise. I’ve always wanted to own my own nail salon and this was made possible thanks to Funding Avenue. This is a serious review for them! What they say, they deliver, even more than that. </p>
                                                <div class="testi-meta">
                                                    Ly
                                                    <span>Austin, TX</span>
                                                    <div class="testimonials-rating">
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                        <i class="icon-star3"></i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="flex-active">2</a></li><li><a href="#" class="">3</a></li><li><a href="#" class="">4</a></li><li><a href="#">5</a></li></ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section bgcolor dark m-0">
        <div class="container">
            <div class="row center justify-content-center">
                <div class="col-md-8">
                    <h2 class="t700 text-white mb-3">Fast funding for your business is just the beginning.</h2>
                </div>
                <div class="col-md-8">
                    <a href="#" class="button center bg-white color button-light button-rounded button-large ml-0">Check Eligibility</a>
                </div>
            </div>
        </div>
    </div>
</div>
