@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Footer
============================================= -->
<footer id="footer" class="noborder" style="background-color: #fff;">

    <div class="container-fluid clearfix bg-light">

        <!-- Footer Widgets
        ============================================= -->
        <div class="footer-widgets-wrap clearfix" style="padding: 30px;">

            <div class="row clearfix">
                <div class="col-lg-6">

                    <div class="col_one_fourth">
                        <div class="widget widget_links clearfix">
                            <h4 class="color">Products</h4>
                            <ul>
                                <li><a href="/product/BusinessCreditLines">Business Credit Lines</a></li>
                                <li><a href="/product/PersonalCreditLines">Personal Credit Lines</a></li>
                                <li><a href="/product/PersonalLoans">Personal Cash Loans</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col_one_fourth">
                        <div class="widget widget_links clearfix">
                            <h4 class="color">More</h4>
                            <ul>
                                <li><a href="/product/ComboFunding">Combo Funding</a></li>
                                <li><a href="/product/RealEstate">Real Estate</a></li>
                                <li><a href="/product/BusinessEntityCreation">Business Entity Creation</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col_one_fourth">
                        <div class="widget widget_links clearfix">
                            <h4 class="color">Company</h4>
                            <ul>
                                <li><a href="/AboutUs">About Us</a></li>
                                <li><a href="/Review">Reviews</a></li>
                                <li><a href="/FAQ">FAQ</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col_one_fourth col_last">
                        <div class="widget widget_links clearfix">
                            <h4 class="color">Questions</h4>
                            <ul>
                                <li><a href="/FAQ">FAQ</a></li>
                                <li><a href="/Contact">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>

                </div>

                <div class="col-lg-5 fright tright col_last">

                    <img src="~/images/logo-green.png" alt="" height="50" style="margin-top:0">
                    <br>
                    <div style="color: #444;">
                        <span>&copy; Funding Avenue LLC. All Rights Reserved.</span><div class="clear"></div>
                        <!-- <p style="margin-top: 10px;">Objectively restore standards compliant opportunities whereas one-to-one collaboration and idea-sharing.</p> -->
                    </div>

                </div>
            </div>

        </div><!-- .footer-widgets-wrap end -->

    </div>


    <!-- Copyrights
            ============================================= -->
    <div id="copyrights" style="background-color:#eae9e9;">

        <div class="container clearfix">

            <div class="row align-items-center">
                <div class="col-sm-12" style="line-height:1.3 !important;">
                    <p>
                        <small>
                            Terms and Conditions Apply. FundingAvenue RESERVES THE RIGHT TO MODIFY OR DISCONTINUE PRODUCTS AND BENEFITS AT ANY TIME WITHOUT NOTICE. To qualify, a borrower must be a U.S. citizen or permanent resident in an eligible state and meet FundingAvenue's underwriting requirements. Not all borrowers receive the lowest rate. To qualify for the lowest rate, you must have a responsible financial history and meet other conditions. If approved, your actual rate will be within the range of rates listed above and will depend on a variety of factors, including term of loan, a responsible financial history, years of experience, income and other factors. Rates and Terms are subject to change at anytime without notice and are subject to state restrictions. FundingAvenue refinance loans are private loans and do not have the same repayment options that the federal loan program offers such as Income Based Repayment or Income Contingent Repayment or PAYE. Licensed by the Department of Business Oversight under the California Financing Law License No. 6054612. FundingAvenue loans are originated by FundingAvenue Lending Corp.

                            INVESTMENTS: NOT FDIC INSURED • HAVE NO GUARANTEE • MAY LOSE VALUE. Clearing and custody of all securities are provided by our inhouse proprietary technologies.
                        </small>
                    </p>
                </div>
            </div>

            <br />
            <div class="row align-items-center justify-content-between">
                <div class="col-md-6">
                    &copy; 2019 Funding Avenue LLC.<br>
                    <div class="copyright-links"><img style="max-height:48px;" src="~/images/security/norton-secured.png" /> <img style="max-height:32px;" src="~/images/security/ssl-secure.png" /></div>
                </div>

                <div class="col-md-6 d-flex justify-content-md-end mt-4 mt-md-0">
                    <div class="copyrights-menu copyright-links mb-0 clearfix">
                        @*<a href="#">Home</a>/<a href="#">About Us</a>/<a href="#">Price</a>/<a href="#">Contact</a>*@
                    </div>
                </div>
            </div>

        </div>

    </div><!-- #copyrights end -->
</footer><!-- #footer end -->