@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Header
============================================= -->
<header id="header" class="static-sticky clearfix" ng-controller="NavigationController as vm">

    <div id="header-wrap">

        <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
            ============================================= -->
             <div id="logo">
                <a href="/Home" class="standard-logo"><img style="padding:5px 0;" src="~/images/logo-green.png" alt="Canvas Logo"></a>
                <a href="/Home" class="retina-logo"><img style="padding:5px 0;" src="~/images/logo-green.png" alt="Canvas Logo"></a>
            </div>
            <!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu" class="with-arrows clearfix">
                <ul>
                    <li><a href="/AboutUs" class="center clearfix"><div>About Us</div></a></li>
                    <li><a href="/Contact" class="center clearfix"><div>Contact</div></a></li>
                    <li><a href="/FAQ" class="center clearfix"><div>FAQ</div></a></li>
                    <li><a href="/Review" class="center clearfix"><div>Reviews</div></a></li>
                    <li class="mega-menu">
                        <a href="#" class="center clearfix"><div>Products</div></a>

                        <!-- Products Menu
                        ============================================= -->
                        <div class="mega-menu-content style-2 border-top-0 clearfix">

                            <!-- Business Credit Lines -->
                            <ul class="mega-menu-column col-lg-2 pointer" ng-click="vm.navigateTo('/product/BusinessCreditLines')">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon divcenter">
                                            <img src="~/images/icons/documents.svg" class="noradius nobg tleft" alt="Business Credit Lines">
                                        </div>
                                        <h3 class="t500"><a href="/product/BusinessCreditLines">Business <br>Credit Lines</a></h3>
                                        <a href="/product/BusinessCreditLines" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- Personal Credit Lines -->
                            <ul class="mega-menu-column col-lg-2 pointer" ng-click="vm.navigateTo('/product/personalcreditlines')">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon divcenter">
                                            <img src="~/images/icons/personal-credit-line.svg" class="noradius nobg tleft" alt="Personal Credit Line">
                                        </div>
                                        <h3 class="t500"><a href="/product/personalcreditlines">Personal <br> Credit Lines</a></h3>
                                        <a href="/product/personalcreditlines" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- Personal Cash Loans -->
                            <ul class="mega-menu-column col-lg-2 pointer" ng-click="vm.navigateTo('/product/personalloans')">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon divcenter">
                                            <img src="~/images/icons/personalLoan.svg" class="noradius nobg tleft" alt="Personal Loan">
                                        </div>
                                        <h3 class="t500"><a href="/product/personalloans">Personal <br>Cash Loans</a></h3>
                                        <a href="/product/personalloans" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- Combo Funding -->
                            <ul class="mega-menu-column col-lg-2 pointer" ng-click="vm.navigateTo('/product/combofunding')">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon divcenter">
                                            <img src="~/images/icons/alt-funding-3.svg" class="noradius nobg tleft" alt="Combo Funding">
                                        </div>
                                        <h3 class="t500"><a href="/product/combofunding">Combo<br />Funding</a></h3>
                                        <a href="/product/combofunding" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- Business Entity Creation -->
                            <ul class="mega-menu-column col-lg-2 pointer" ng-click="vm.navigateTo('/product/businessentitycreation')">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon divcenter">
                                            <img src="~/images/icons/businessEntity.svg" class="noradius nobg tleft" alt="Business Entity">
                                        </div>
                                        <h3 class="t500"><a href="/product/businessentitycreation">Business Entity Creation</a></h3>
                                        <a href="/product/businessentitycreation" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>

                            <!-- Real Estate Home Loans -->
                            <ul class="mega-menu-column col-lg-2 pointer" ng-click="vm.navigateTo('/product/realestate')">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon divcenter">
                                            <img src="~/images/icons/realEstate.svg" class="noradius nobg tleft" alt="Real Estate">
                                        </div>
                                        <h3 class="t500"><a href="/product/realestate">Real Estate <br> Home Loans</a></h3>
                                        <a href="/product/realestate" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </li>
                </ul>
            </nav><!-- #primary-menu end -->

            <!-- Apply Now Button -->
            <nav id="primary-menu" class="with-arrows apply-now clearfix">
                <ul>
                    <li><a href="/apply" class="bgcolor" style="color:#fff;">Apply Now</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

</header><!-- #header end -->