<!DOCTYPE html>
<html ng-app="FundingAvenue">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Funding Avenue</title>

    @RenderSection("styles", false)
    <partial name="_StylesheetsPartial" />
</head>
<body class="stretched side-push-panel">

    <partial name="_SidePanel" />
    <div id="wrapper" class="clearfix">
        <partial name="_Header" />
        @RenderBody()
        <partial name="_Footer" />
    </div>
    
    <div id="gotoTop" class="icon-angle-up"></div>
    <div id="contact-me" class="icon-line-mail side-panel-trigger bgcolor"></div>

    <partial name="_ScriptsPartial" />
    @RenderSection("Scripts", required: false)
</body>
</html>
