@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "FAQ Page";
}

<section id="page-title" class="page-title-parallax page-title-dark" style="background-image: url('/images/background/FAQPage.jpg'); background-size: cover; padding: 250px 0;" data-bottom-top="background-position:0px 400px;" data-top-bottom="background-position:0px -500px;">

    <div class="container clearfix">
        <h1>FAQ</h1>
        <span>Everything You Need To Know Before You Apply</span>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/Home">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
        </ol>
    </div>

</section><!-- #page-title end -->

<section id="content">

    <div class="content-wrap">

        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="heading-block">
                        <h3>Frequently Asked Questions:</h3>
                    </div>

                    @*<h4 class="mb-3">Marketplace <small>(11)</small></h4>*@

                    <div class="accordion mb-5 accordion-border clearfix">

                        <div class="acctitle"><i class="acc-closed icon-question-sign"></i><i class="acc-open icon-question-sign"></i>Are there any restrictions to unsecured business credit lines?</div>
                        <div class="acc_content clearfix">There are no restrictions on our business credit lines. It can be used the same as cash. But credit lines are effectively used to overcome short-term capital requirements which is a 0 - 21 month payback period. Examples include sales and marketing campaigns, flipping real estate, expansion, etc.</div>

                        <div class="acctitle"><i class="fas fa-file-alt"></i>Do I need to provide any documentation about my personal or business income?</div>
                        <div class="acc_content clearfix">We don’t require income verification. We only require stated income.</div>

                        <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i> My company is new; can I still receive unsecured business credit?</div>
                        <div class="acc_content clearfix">Absolutely! We offer business lines of credit specifically for startup companies. If you’ve been in business for less than two years, you may still qualify for up to $125,000 unsecured business capital.</div>

                        <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i>Will my unsecured business credit affect my personal credit score? (Transunion, Equifax, and Experian)</div>
                        <div class="acc_content clearfix">Not at all! All business credit lines that you acquire through Funding Avenue will not show up on your personal credit report unless you default on your payments. You may pull funds on your entire balance without affecting your debt to income ratio.</div>


                        <div class="acctitle"><i class="fas fa-question-circle"></i>What can I do if I have less than perfect credit?</div>
                        <div class="acc_content clearfix">That’s no problem. A lot of our clients have used co-signers. And the good news is, your co-signer’s personal credit score will not get affected, because as stated before, business credit lines will not show up on personal credit reports unless you default on payments.</div>

                        <div class="acctitle"><i class="far fa-money-bill-alt"></i>Are there any upfront fees?</div>
                        <div class="acc_content clearfix">There are NO upfront fees. We only charge a one time 9.9% success fee only when you are approved and funded. You can use your business lines of credit to pay for the fee.</div>

                        <div class="acctitle"><i class="acc-closed icon-ok"></i><i class="acc-open icon-ok"></i>Isn’t the 9.9% success fee too high?</div>
                        <div class="acc_content clearfix">Not at all. A typical hard money lender charges 15% APR plus 3 or 4 points and requires at least a 20% down payment. Each project would cost you high interest rates and additional points. Our program only charges a one time 9.9% fee and the business lines of credit have 0% APR for the first 6-12 months and does not require any down payment. All additional projects that you might have for the first year will be interest free because of the 0% introductory rate.</div>

                        <div class="acctitle"><i class="acc-closed icon-credit"></i><i class="acc-open icon-credit"></i>Are business credit cards unsecured business lines of credit?</div>
                        <div class="acc_content clearfix">Absolutely, a business credit card is one of the most common forms of unsecured business credit. While the format of the credit line causes most business owners from obtaining them, our trained professionals teach our clients how to draw on the lines efficiently, so that they may be used similar to a check-book line of credit, without paying outrageous cash advance fees. While credit cards are often stigmatized by the public with bad debt, our clients are coached on how to creatively utilize these cash sources to grow their businesses faster than their competition.</div>

                        <div class="acctitle"><i class="fas fa-globe-americas"></i>My company is outside the United States, can I still get funding?</div>
                        <div class="acc_content clearfix">Unfortunately, we can only fund LLCs, companies, and corporations within the United States. (We are able to fund businesses in almost every US state.)</div>


                        <div class="acctitle"><i class="fas fa-info-circle"></i>Is my information secure?</div>
                        <div class="acc_content clearfix">Yes our website is secured with a full 128/256 bit encryption powered by internal proprietary software.</div>

                        <div class="acctitle"><i class="fas fa-user-alt"></i>Can I do this on my own?</div>
                        <div class="acc_content clearfix"> Technically, anyone can do this on their own. However, the cost
                            would be comparable to the fee we charge. Additionally, finding
                            the right people to complete this transaction would take time
                            away from focusing on your business. We can complete this
                            process in 2 to 4 weeks while you focus on growing your
                            business.</div>
        
                        </div>
                    </div>

                <div class="col-lg-4">
                    <div class="row">
                        <div class="col-md-6 col-lg-12">
                            <div class="card bg-dark dark mb-5 pb-2 px-2">
                                <div class="card-body">
                                    <h3 class="mb-3 uppercase ls1">About Us</h3>
                                    <p class="card-text text-white-50">
                                        Funding Avenue provides consulting services for funding procurement to small businesses
                                        nationwide. We work along with our partnering lending institutions to provide credit lines with no
                                        restrictions to all types of businesses. Whether your company is a start-up or you need capital for an
                                        existing business, we are here to assist you with your funding needs. We also strive to make the
                                        process as simple as possible without having to jump through all the hoops.
                                        Let us help you start your road to success.
                                    </p>
                                    <a href="/AboutUs" class="button button-3d button-rounded m-0" ">Read More</a>
                                </div>
                            </div>
                        </div>

                    
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section><!-- #content end -->
