@{
    ViewData["Title"] = "Alternative Funding";
}

@section styles {
    <link rel="stylesheet" href="~/css/components/ion.rangeslider.css" type="text/css" />
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<div>

    <!-- Slider
    ============================================= -->
    <section id="slider" class="slider-element swiper_wrapper full-screen clearfix" data-autoplay="9000" data-speed="800" data-loop="true" data-grab="false">

        <div class="swiper-container swiper-parent">
            <div class="swiper-wrapper">
                <div class="swiper-slide" style="background: #FFF url('http://themes.semicolonweb.com/html/canvas/demos/ecommerce/images/slider/2.jpg') no-repeat center right; background-size: auto 100%;">
                    <div class="container clearfix">
                        <div class="slider-caption" style="margin-top: -30px;">
                            <div class="emphasis-title nobottommargin">
                                <h2 class="bottommargin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>diff. Websites</h2>

                                <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-number font-primary">O1</div>
                </div>
                <div class="swiper-slide" style="background: #FFF url('demos/ecommerce/images/slider/2.jpg') no-repeat center right; background-size: auto 100%;">
                    <div class="container clearfix">
                        <div class="slider-caption" style="margin-top: -30px;">
                            <div class="emphasis-title nobottommargin">
                                <h2 class="bottommargin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>diff. Designs</h2>

                                <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-number font-primary">O2</div>
                </div>
                <div class="swiper-slide" style="background: #FFF url('demos/ecommerce/images/slider/3.jpg') no-repeat center right; background-size: auto 100%;">
                    <div class="container clearfix">
                        <div class="slider-caption" style="margin-top: -30px;">
                            <div class="emphasis-title nobottommargin">
                                <h2 class="bottommargin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>diff. Layouts</h2>

                                <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-number font-primary">O3</div>
                </div>
                <div class="swiper-slide" style="background: #FFF url('demos/ecommerce/images/slider/4.jpg') no-repeat center right; background-size: auto 100%;">
                    <div class="container clearfix">
                        <div class="slider-caption" style="margin-top: -30px;">
                            <div class="emphasis-title nobottommargin">
                                <h2 class="bottommargin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>diff. Mindset</h2>

                                <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-number font-primary">O4</div>
                </div>
                <div class="swiper-slide" style="background: #FFF url('demos/ecommerce/images/slider/5.jpg') no-repeat center right; background-size: auto 100%;">
                    <div class="container clearfix">
                        <div class="slider-caption" style="margin-top: -30px;">
                            <div class="emphasis-title nobottommargin">
                                <h2 class="bottommargin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>your Website</h2>

                                <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-number font-primary">O5</div>
                </div>
                <div class="swiper-slide" style="background: #FFF url('demos/ecommerce/images/slider/6.jpg') no-repeat center right; background-size: auto 100%;">
                    <div class="container clearfix">
                        <div class="slider-caption" style="margin-top: -30px;">
                            <div class="emphasis-title nobottommargin">
                                <h2 class="bottommargin t700" style="max-width: 600px; font-size: 80px; font-family: 'Montserrat'; line-height: 1.2;">We Create<br>your Home</h2>

                                <p class="lead topmargin-sm d-none d-sm-block" style="max-width: 600px; font-family: 'Poppins'; color: #999; font-size: 18px;">Competently reintermediate user friendly scenarios after global synergy. Globally build compelling niche markets rather than bricks-and-clicks alignments. Continually revolutionize interactive strategic theme.</p>
                            </div>
                        </div>
                    </div>
                    <div class="slide-number font-primary">O6</div>
                </div>
            </div>
            <div class="slider-arrow-left"><i class="icon-line-arrow-left"></i></div>
            <div class="slider-arrow-right"><i class="icon-line-arrow-right"></i></div>
        </div>

    </section><!-- #Slider End -->


    <div class="section bg-angle notopmargin" style="background: #F9F9F9 url('demos/hosting/images/pattern-dark.png') repeat center center; padding: 80px 0">
        <div class="container clearfix">
            <div class="heading-block center mt-0 divcenter nobottomborder clearfix" style="max-width: 750px">
                <h2>Hosting that scales with your Business</h2>
                <p>Competently recaptiualize multifunctional schemas without an expanded array of niches. Continually engage cooperative sources vis-a-vis web-enabled benefits.</p>
            </div>
            <div class="row mb-2 align-items-stretch">
                <div class="col-lg-8 col-md-8">
                    <div class="row align-items-stretch clearfix">
                        <div class="col-md-12">

                            <div class="row align-items-stretch">
                                <div class="col-md-8 col-sm-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h4 class="mb-4">vCPU</h4>
                                            </div>

                                            <span class="irs js-irs-0"><span class="irs"><span class="irs-line" tabindex="0"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: visible;">1 Core</span><span class="irs-max" style="visibility: visible;">8 Core</span><span class="irs-from" style="visibility: hidden;">0</span><span class="irs-to" style="visibility: hidden;">0</span><span class="irs-single" style="left: 44.7395%;">4 Core</span></span><span class="irs-grid"></span><span class="irs-bar" style="left: 3.89859%; width: 46.1014%;"></span><span class="irs-bar-edge"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-slider single" style="left: 46.1014%;"></span></span><input class="range-slider-cpu irs-hidden-input" tabindex="-1" readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
                                    <div class="card-body">

                                        <h2 class="cpu-price text-white mb-0 t700">$40</h2>
                                        <p class="card-text mb-0" style="opacity: .8;">$10 <span class="font-italic">per vCPU</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-stretch">
                                <div class="col-md-8 col-sm-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h4 class="mb-4">Ram</h4>
                                            </div>

                                            <span class="irs js-irs-1"><span class="irs"><span class="irs-line" tabindex="0"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: visible;">1 GB</span><span class="irs-max" style="visibility: visible;">32 GB</span><span class="irs-from" style="visibility: hidden;">0</span><span class="irs-to" style="visibility: hidden;">0</span><span class="irs-single" style="left: 49.5287%;">18 GB</span></span><span class="irs-grid"></span><span class="irs-bar" style="left: 3.89859%; width: 50.5628%;"></span><span class="irs-bar-edge"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-slider single" style="left: 50.5628%;"></span></span><input class="range-slider-ram irs-hidden-input" tabindex="-1" readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center mb-4">
                                    <div class="card-body">

                                        <h2 class="ram-price text-white mb-0 t700">$144</h2>
                                        <p class="card-text mb-0" style="opacity: .8;">$8 <span class="font-italic">per RAM</span></p>
                                    </div>
                                </div>
                            </div>

                            <div class="row align-items-stretch">
                                <div class="col-md-8 col-sm-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h4 class="mb-4">Storage</h4>
                                            </div>

                                            <span class="irs js-irs-2"><span class="irs"><span class="irs-line" tabindex="0"><span class="irs-line-left"></span><span class="irs-line-mid"></span><span class="irs-line-right"></span></span><span class="irs-min" style="visibility: visible;">10 GB</span><span class="irs-max" style="visibility: hidden;">100 GB</span><span class="irs-from" style="visibility: hidden;">0</span><span class="irs-to" style="visibility: hidden;">0</span><span class="irs-single" style="left: 90.3086%;">100 GB</span></span><span class="irs-grid"></span><span class="irs-bar" style="left: 3.89859%; width: 92.2028%;"></span><span class="irs-bar-edge"></span><span class="irs-shadow shadow-single" style="display: none;"></span><span class="irs-slider single" style="left: 92.2028%;"></span></span><input class="range-slider-storage irs-hidden-input" tabindex="-1" readonly="">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 d-none d-sm-flex card bgcolor text-white text-center">
                                    <div class="card-body">

                                        <h2 class="storage-price text-white mb-0 t700">$50</h2>
                                        <p class="card-text mb-0" style="opacity: .8;">$.5 <span class="font-italic">per Storage</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 mt-4 mt-md-0">
                    <div class="card text-center">
                        <div class="card-body py-4">
                            <h3 class="card-title t400">Your Plan</h3>

                            <div class="pricing-price t600 py-2">$234</div>
                            <p class="card-text pricing-sub">Billed Monthly</p>
                        </div>
                        <div class="line my-1"></div>
                        <div class="card-body py-4">
                            <ul class="iconlist ml-0" style="opacity: .8">
                                <li>Un-Mitered Bandwith</li>
                                <li>2 Dedicated IPs</li>
                                <li>Shared SSL certificate</li>
                                <li>30 Days Money Back</li>
                            </ul>
                            <a href="#" class="button button-rounded button-large ls0 t400 m-0 nott">Order Now</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="row mt-5 clearfix">
                <div class="col-lg-3 col-sm-6">
                    <h4 class="t500 mb-3">Free Includes:</h4>
                    <ul class="iconlist price-compare mb-2">
                        <li><a href="#" class="t300">Unmetered Mitigation of DDoS</a></li>
                        <li><a href="#" class="t300">Global CDN</a></li>
                        <li><a href="#" class="t300">Shared SSL certificate</a></li>
                        <li><a href="#" class="t300">I'm Under Attack™ mode</a></li>
                        <li><a href="#" class="t300">Access to account Audit Logs</a></li>
                    </ul>
                    <a href="#" class="btn btn-link mt-2 t400 color p-0" style="font-size: 14px">All Features ›</a>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4 mt-sm-0">
                    <h4 class="t500 mb-3">Pro Includes:</h4>
                    <ul class="iconlist price-compare mb-2">
                        <li><a href="#" class="t300">100 GB of disk space</a></li>
                        <li><a href="#" class="t300">1000 GB/mo data transfer</a></li>
                        <li><a href="#" class="t300">1 domain + 100 subdomains</a></li>
                        <li><a href="#" class="t300">10 site pages</a></li>
                        <li><a href="#" class="t300">5 email addresses</a></li>
                        <li><a href="#" class="t300">Site design tools</a></li>
                        <li><a href="#" class="t300">Account access for colleagues/friends</a></li>
                    </ul>
                    <a href="#" class="btn btn-link mt-2 t400 color p-0" style="font-size: 14px">All Features ›</a>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
                    <h4 class="t500 mb-3">Business Includes:</h4>
                    <ul class="iconlist price-compare mb-2">
                        <li><a href="#" class="t300">Unlimited site pages</a></li>
                        <li><a href="#" class="t300">10 email addresses</a></li>
                        <li><a href="#" class="t300">500 GB of disk space</a></li>
                        <li><a href="#" class="t300">5000 GB/mo data transfer</a></li>
                        <li><a href="#" class="t300">1 domain + 500 subdomains</a></li>
                        <li><a href="#" class="t300">Secure FTP File Manager</a></li>
                        <li><a href="#" class="t300">WordPress blogging</a></li>
                        <li><a href="#" class="t300">PHP 5.3.6, Perl 5.8.7, MySQL 5.1</a></li>
                    </ul>
                    <a href="#" class="btn btn-link mt-2 t400 color p-0" style="font-size: 14px">All Features ›</a>
                </div>
                <div class="col-lg-3 col-sm-6 mt-4 mt-lg-0">
                    <h4 class="t500 mb-3">Advanced Includes:</h4>
                    <ul class="iconlist price-compare mb-2">
                        <li><a href="#" class="t300">20 email addresses</a></li>
                        <li><a href="#" class="t300">Unlimited disk space</a></li>
                        <li><a href="#" class="t300">Unlimited data transfer</a></li>
                        <li><a href="#" class="t300">Private registration</a></li>
                        <li>
                            <a href="#" class="t300">
                                Named solution and customer success engineers
                                Access to China data centers (additional cost)
                            </a>
                        </li>
                        <li><a href="#" class="t300">30-day satisfaction guarantee</a></li>
                        <li><a href="#" class="t300">24/7 phone, chat and online support</a></li>
                    </ul>
                    <a href="#" class="btn btn-link mt-2 t400 color p-0" style="font-size: 14px">All Features ›</a>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/js/components/rangeslider.min.js"></script>
    <script>
        jQuery(document).ready(function () {
            var pricingCPU = 1,
                pricingRAM = 1,
                pricingStorage = 10,
                elementCPU = $(".range-slider-cpu"),
                elementRAM = $(".range-slider-ram"),
                elementStorage = $(".range-slider-storage");

            elementCPU.ionRangeSlider({
                grid: false,
                values: [1, 2, 4, 6, 8],
                postfix: ' Core',
                onStart: function (data) {
                    pricingCPU = data.from_value;
                }
            });

            elementCPU.on('change', function () {
                pricingCPU = $(this).prop('value');
                calculatePrice(pricingCPU, pricingRAM, pricingStorage);
            });

            elementRAM.ionRangeSlider({
                grid: false,
                step: 1,
                min: 1,
                from: 1,
                max: 32,
                postfix: ' GB',
                onStart: function (data) {
                    pricingRAM = data.from;
                    console.log(data);
                }
            });

            elementRAM.on('onStart change', function () {
                pricingRAM = $(this).prop('value');
                calculatePrice(pricingCPU, pricingRAM, pricingStorage);
            });

            elementStorage.ionRangeSlider({
                grid: false,
                step: 10,
                min: 10,
                max: 100,
                postfix: ' GB',
                onStart: function (data) {
                    pricingStorage = data.from;
                }
            });

            elementStorage.on('change', function () {
                pricingStorage = $(this).prop('value');
                calculatePrice(pricingCPU, pricingRAM, pricingStorage);
            });

            calculatePrice(pricingCPU, pricingRAM, pricingStorage);

            function calculatePrice(cpu, ram, storage) {
                var pricingValue = (Number(cpu) * 10) + (Number(ram) * 8) + (Number(storage) * 0.5);
                jQuery('.cpu-value').html(pricingCPU);
                jQuery('.ram-value').html(pricingRAM);
                jQuery('.storage-value').html(pricingStorage);
                jQuery('.cpu-price').html('$' + pricingCPU * 10);
                jQuery('.ram-price').html('$' + pricingRAM * 8);
                jQuery('.storage-price').html('$' + pricingStorage * 0.5);
                jQuery('.pricing-price').html('$' + pricingValue);
            }
        });
    </script>
}