@{
    ViewData["Title"] = "Alternative Funding";
}

<div ng-controller="AlternativeController as vm">
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="content-wrap nopadding">

            <div id="section-home" class="page-section" style="background-color: #F5F5F5; padding:60px 0;">

                <div class="container clearfix">

                    <h4 class="divcenter font-body center" style="margin-bottom:0;">Alternative Funding</h4>
                    <div ng-hide="vm.recommendation">
                        <h2 class="divcenter font-body center" style="max-width: 700px; font-size: 40px;">Select the suite of products that best suit your needs.</h2>
                        <div class="center bottommargin"><a href="#" class="button button-border button-circle t600">Learn More</a></div>
                    </div>

                    <div ng-show="vm.recommendation">
                            <h2 class="divcenter font-body center" style="max-width: 700px; font-size: 40px;">Your Selection <br /><span>{{ vm.recommendation }}</span></h2>
                            <div class="center bottommargin"><a href="#" class="button button-border button-circle t600">Apply Now</a></div>
                        </div>

                    <div id="slider-services" class="row">

                        <div class="col-4 intro-services center col-padding alt-product-card" style="background-color: #FFF;"
                             ng-class="{ 'alt-product-card-selected dark bgcolor' : vm.products.one}" 
                             ng-click="vm.toggleProduct(1)">
                            <i class="i-plain i-xlarge icon-building inline-block" ng-class="{ 'color' : !vm.products.one }" style="margin-bottom: 15px;"></i>
                            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                                <h4>Business Credit Lines</h4>
                                <p>Can obtain $20,000 - $150,000</p>
                            </div>
                            <div><a href="#" ng-class="{'button-black': vm.products.one}" class="button button-red button-rounded button-small t600">{{ vm.products.one ?  'Remove Me' : 'Add Me' }}</a></div>
                        </div>

                        <div class="col-4 intro-services center col-padding alt-product-card" style="background-color: #FFF;"
                             ng-class="{ 'alt-product-card-selected dark bgcolor' : vm.products.two === true}" 
                             ng-click="vm.toggleProduct(2)">
                            <i class="i-plain color i-xlarge icon-line2-credit-card inline-block" ng-class="{ 'color' : !vm.products.two }" style="margin-bottom: 15px;"></i>
                            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                                <h4>Personal Credit Lines</h4>
                                <p>Can obtain $10,000 - $100,000</p>
                            </div>
                            <div><a href="#" ng-class="{'button-black': vm.products.two}" class="button button-red button-rounded button-small t600">{{ vm.products.two ?  'Remove Me' : 'Add Me' }}</a></div>
                        </div>

                        <div class="col-4 intro-services center col-padding alt-product-card" style="background-color: #FFF;" 
                             ng-class="{ 'alt-product-card-selected dark bgcolor' : vm.products.three === true}"
                             ng-click="vm.toggleProduct(3)">
                            <i class="i-plain color i-xlarge icon-money inline-block" ng-class="{ 'color' : !vm.products.three }" style="margin-bottom: 15px;"></i>
                            <div class="heading-block nobottomborder" style="margin-bottom: 15px;">
                                <h4>Personal Cash Loans</h4>
                                <p>Can obtain $5,000 - $150,000</p>
                            </div>
                            <div><a href="#" ng-class="{'button-black': vm.products.three}" class="button button-red button-rounded button-small t600">{{ vm.products.three ?  'Remove Me' : 'Add Me' }}</a></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section><!-- #content end -->

</div>
