@{
    ViewData["Title"] = "Business Entity Creation";
}
<section id="slider" class="slider-element slider-parallax" style="background: url('/images/background/BusinessEntityCreationPage.jpg') 0% 35% no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">

    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    <h1>
                        A way to start your own business
                    </h1>
                    <span class="d-none d-md-block">Secure your capital for the business with us before you start</span>
                </div>

                <a href="/apply" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Get your rates</span></a>

            </div>
        </div>
        <div class="video-wrap" style="position:absolute;top:0;left:0;height:100%;z-index:1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
        </div>
    </div>
</section>


<!--Content 
    ===================================== -->

<section id="content">

    <!--
         6 Componenets: Why Funding Avenue
        =====================================-->
    <div class="content-wrap-custom">

        <div class="container clearfix">

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Easy Apply</h3>
                    <p>Online application is ready for you. Simple and paperless application makes faster to review and process your application.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Experienced Company</h3>
                    <p>Our company has worked over 20 years and handled various cases of start ups. Don't hasitate to contact us if you are not sure about where to start. </p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Quick Response and Approval</h3>
                    <p>We respond back to your questions and application within one businessday. We try to contact you as soon as possible for more details and qualifications before we process your application.</p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Fast Process</h3>
                    <p>We process the funding as soon as your applicatoin is received and qualified. Depends on the banks and partners, may take up from 1 - 4 weeks.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">High Rate of Approval</h3>
                    <p>We have record for more than 94% of applications are approved and received funds. Our experts will help you to choose right solution for what you need for your business.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Hassle Free</h3>
                    <p>Leave all paperwork to us after you apply to our company. We will get back to you as soon as we hear back from the bank. You do not need to deal with bank and parterning credit institutions. </p>
                </div>
            </div>

            @*<div class="line topmargin-sm bottommargin-lg"></div>*@
        </div>

    </div>




    <!--
         Content: Benfits of Program ========================-->

    <div class="container clearfix">

        <div class="row clearfix notopmargin bottommargin">

            <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">

                <div class="heading-block nobottomborder">
                    <h2 class="nott ls0" style="font-size: 44px; line-height: 1.2">Program <br>Benefits</h2>
                </div>
                <span style="color: #BBB;">pede, numquam fringilla proident dis? Molestias repellat.<br><br>Quas perferendis urna, officiis necessitatibus deserunt recusandae urna ullamco hac do beatae cubilia iste dolorum, facilisi? Sit, hic, varius! Sollicitudin.<br><br>Nostrum feugiat beatae proident porro eleifend adipiscing nostrud aliquid sit.</span>
                <div class="clear"></div>
                <a href="/apply" class="button button-rounded button-black button-dark noleftmargin topmargin-sm clearfix">Apply Now</a>

            </div>

            <div class="col-lg-4 d-md-none d-lg-block center topmargin-lg" style="padding-top: 90px;">
                <img src="~/images/items/BusinessEntityCreationItem.png" alt="Car">
            </div>

            <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">
                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-car-battery"></i></a>
                    </div>
                    <h3>Sole Proprietorship</h3>
                    <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
                </div>

                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-car-cogs2"></i></a>
                    </div>
                    <h3>LLC</h3>
                    <p>Complete control on each &amp; every element that provides endless customization.</p>
                </div>

                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-car-pump"></i></a>
                    </div>
                    <h3>Receive feedback from us</h3>
                    <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
                </div>
            </div>
        </div>

    </div>


    <!--Content: Alternative Plan Action
    =============================================-->

    <div class="notopmargin bottommargin">
        <div class="clearfix">
            <a href="/alternativefunding" class="button button-full center tright footer-stick">
                <div class="container clearfix">
                    Looking for more than Business Entity Program? <strong> Alternative Plans</strong> <i class="icon-caret-right" style="top:4px;"></i>
                </div>
            </a>
        </div>
    </div>


    <!-- Content: How It Works
    ============================================= -->
    <div id="service" class="section page-section nobg nopadding notopmargin nobottommargin clearfix">

        <div class="row common-height clearfix nobottommargin">

            <!-- Service Image
            ============================================= -->
            <div class="col-lg-6 center col-padding parallax" style="background-image: url('/images/background/3.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
                <div class="vertical-middle dark">
                    <div class="heading-block center">
                        <h2 class="nott ls0" style="font-size: 54px">How It Works</h2>
                    </div>
                </div>
            </div>

            <!-- Service Featured Boxes
            ============================================= -->
            <div class="col-lg-6 col-padding" style="background-color: #F9F9F9">
                <div>
                    <div class="row clearfix" style="padding: 20px 0">
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/scessior.svg" alt=""></a>
                                </div>
                                <h3>1) Painless pre-qualification</h3>
                                <p>Get pre-qualified online in two minutes. No obligations, no commitments, no hidden fees.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/moustache.svg" alt=""></a>
                                </div>
                                <h3>2) Select the type of your house loan.</h3>
                                <p>Find the loan that matches your financial goals and apply online</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/comb.svg" alt=""></a>
                                </div>
                                <h3>3) Receive the funds.</h3>
                                <p>Once you sign your paperwork, we'll transfer the funds. Usually within 30 days.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/time.svg" alt=""></a>
                                </div>
                                <h3>4) Great Location</h3>
                                <p>Holisticly fashion cooperative ROI without unique intellectual capital. Synergistically engage orthogonal.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/drier1.svg" alt=""></a>
                                </div>
                                <h3>5) Customer Service</h3>
                                <p>Monotonectally evisculate high standards in best practices before exceptional web-readiness. Competently.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>




    <!-- Contents: Client Reviews
    ============================================= -->
    <div class="container clearfix">
        <div class="row clearfix">
            <div class="col-md-12 col-padding">
                
                <h3 style="text-align: center">Client Reviews</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                <img src="demos/hosting/images/svg/balancing.svg" style="width: 42px;" alt="">

                            </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Excellent Service</h3>
                                <div class="rating-stars-sm" >
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita sint explicabo quis at voluptatum autem, cupiditate officiis maxime deserunt soluta! consectetur adipisicing elit.</p>
                            </div>
                            
                        </div>

                        <div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                <img src="demos/hosting/images/svg/location.svg" style="width: 42px;" alt="">
                            </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Location Zone</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2">Distinctively enhance front-end outsourcing after cross-platform synergy. Interactively implement an expanded array of collaboration and idea-sharing and innovative bandwidth.</p>
                            </div>
                           
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                <img src="demos/hosting/images/svg/ssl.svg" style="width: 42px;" alt="">
                            </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Dedicated SSL Certificate</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2">Assertively harness stand-alone communities through front-end networks. Globally engage plug-and-play sources through multidisciplinary portals. Enthusiastically synergize orthogonal.</p>
                            </div>
                          
                        </div>

                        <div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                <img src="demos/hosting/images/svg/team.svg" style="width: 42px;" alt="">
                            </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Team Accounts</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2">Uniquely harness prospective information through long-term high-impact portals. Rapidiously enable principle-centered users rather than inexpensive sources. Distinctively enhance front-end outsourcing.</p>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>




    <!--Contact Us
    ======================================
    -->

    <div class="line topmargin-sm bottommargin"></div>
    <div class="promo promo-full header-stick" style="background-color: #989697c9;">
        <div class="container clearfix">
            <h3>Call us today at <span style="color: white">+1.949.574.1541</span> or Email us at <span style="color: white">fundingavenue@email.com</span></h3>
            <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
            <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
        </div>
    </div>





</section>