@{
    ViewData["Title"] = "Business Entity Creation";
}




<section id="slider" class="slider-element slider-parallax" style="background: url('/images/background/4.jpg') 0% 35% no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">

    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottomborder nobottommargin">
                    <div class="before-heading lowercase ls1" style="color: #FFF; font-style: normal;">Allow Our Team To Guide You Through The Process</div>
                    <h3 class="nott font-secondary t400" style="font-size: 32px;">Business Entity Creation is Simpler and Easier with Us</h3>
                    <a href="/apply" class="button button-large button-circle button-border button-white button-light topmargin-sm noleftmargin">Start With Us</a>
                </div>
              

            </div>
        </div>
        <div class="video-wrap" style="position:absolute;top:0;left:0;height:100%;z-index:1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
        </div>
    </div>
</section>






        <!--Content
            ===================================== -->

<section id="content">

    <div class="section nomargin" style="padding: 80px 0;">
        <div class="container clearfix">
            <div class="row clearfix">
                <div class="col-md-6">
                    <div class="hidden-xs hidden-sm hidden-md topmargin-lg"></div>
                    <div class="emphasis-title bottommargin-sm">
                        <h2 style="font-size: 38px;" class="font-body t600">Design and Launch <br> Your Entrepreneurship  </h2>
                    </div>
                    <p style="color: #777; margin-bottom: 25px;" class="lead">Funding Avenue will develop, organize, and manage <br> your business venture along with any of its risks to reach the goal.</p>
                    @*<button type="submit" class="t400 capitalize button button-dark button-large button-circle nomargin" value="submit">Register Now</button>*@
                </div>
                <div class="hidden-lg hidden-md topmargin-sm"></div>
                <img src="~/images/background/BEC-2.jpg" style="box-shadow: 0 1px 8px 0 rgba(0,0,0,0.5)" />
                @*<div class="col-md-6">
            <div style="box-shadow: 0 1px 8px 0 rgba(0,0,0,0.3);">
                <img src="~/images/background/BEC-2.jpg"  />

            </div>
        </div>*@
            </div>
        </div>
    </div>





    <!--
            Content: Program Options ========================-->

    <div class="container clearfix">

        <div class="row clearfix notopmargin bottommargin">

            <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">

                <div class="heading-block nobottomborder">
                    <h2 class="nott ls0" style="font-size: 44px; line-height: 1.2">Program <br>Options</h2>
                </div>
                <span style="color: #BBB;">Formation of your corporation for your small business can be complicated. Allow our team to guide you through the process.<br></span>
                <a href="/apply" class="button button-rounded button-black button-dark noleftmargin topmargin-sm clearfix">Apply Now</a>

            </div>

            <div class="col-lg-4 d-md-none d-lg-block center topmargin-lg" style="padding-top: 90px;">
                <img src="~/images/items/BusinessEntityCreationItem.png" alt="Car">
            </div>

            <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">
                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <i class="icon-user"></i>
                    </div>
                    <h3>Sole Proprietorship</h3>
                    <p>A business that legally has no separate existence from its owner. Income and losses are taxed on the individual's personal income tax return.</p>
                </div>

                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <i class="icon-building"></i>
                    </div>
                    <h3>LLC</h3>
                    <p>
                        A limited liability company is a corporate structure whereby the members of the company are not personally liable for the company's debts or liabilities.


                    </p>
                </div>

                @*<div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-car-pump"></i></a>
                        </div>
                        <h3>Receive feedback from us</h3>
                        <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
                    </div>*@
            </div>
        </div>

    </div>


    <!--Content: Alternative Plan Action
    =============================================-->

    <div class="notopmargin bottommargin">
        <div class="clearfix">
            <a href="/alternativefunding" class="button button-full center tright footer-stick">
                <div class="container clearfix">
                    Looking for more than Business Entity Program? <strong> Try our Combo Plans</strong> <i class="icon-caret-right" style="top:4px;"></i>
                </div>
            </a>
        </div>
    </div>


    <!-- Content: How It Works
    ============================================= -->
    <div id="service" class="section page-section nobg nopadding notopmargin nobottommargin clearfix">

        <div class="row common-height clearfix nobottommargin">

            <!-- Service Image
            ============================================= -->
            <div class="col-lg-6 center col-padding parallax" style="background-image: url('/images/background/5.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
                <div class="vertical-middle dark">
                    <div class="heading-block center">
                        <h2 class="nott ls0" style="font-size: 54px">How It Works</h2>
                    </div>
                </div>
            </div>

            <!-- Service Featured Boxes
            ============================================= -->
            <div class="col-lg-6 col-padding" style="background-color: #F9F9F9">
                <div>
                    <div class="row clearfix" style="padding: 20px 0">
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <img src="demos/barber/images/icons/scessior.svg" alt="">
                                </div>
                                <h3>1) Painless pre-qualification</h3>
                                @*<p>Get pre-qualified online in two minutes. No obligations, no commitments, no hidden fees.</p>*@
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <img src="demos/barber/images/icons/moustache.svg" alt="">
                                </div>
                                <h3>2) Select your loan.</h3>
                                @*<p>Find the loan that matches your financial goals and apply online</p>*@
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/comb.svg" alt=""></a>
                                </div>
                                <h3>3) Confirmation and detail process with Funding Avenue.</h3>
                                @*<p>Once we receive your application, we contact you for more details and go over the process with you.</p>*@
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/time.svg" alt=""></a>
                                </div>
                                <h3>4) Application in Process</h3>
                                @*<p>Once you sign your paperwork, we'll transfer the funds. Usually within 30 days.</p>*@
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/drier1.svg" alt=""></a>
                                </div>
                                <h3>5) Receive Funds</h3>
                                @*<p>Your fund will be on your way once the credit parterning institution approves your loan.</p>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!--
        6 Componenets: Why Funding Avenue
    =====================================-->
    <div class="content-wrap-custom">

        <div class="container clearfix">

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Easy Online sApply</h3>

                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Experienced Company</h3>

                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Quick Response and Approval</h3>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Fast Process</h3>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">High Rate of Approval</h3>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Hassle Free</h3>
                </div>
            </div>

            @*<div class="line topmargin-sm bottommargin-lg"></div>*@
        </div>

    </div>



    <div class="clear"></div>
    <div class="line topmargin-sm bottommargin-sm"></div>



    <!-- Contents: Client Reviews
    ============================================= -->
    <div class="container clearfix">
        <div class="row clearfix">
            <div class="col-md-12 col-padding">

                <h3 style="text-align: center">Client Reviews</h3>
                <div class="row">
                    <div class="col-md-6">
                        <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                    <img src="demos/hosting/images/svg/balancing.svg" style="width: 42px;" alt="">

                                </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Excellent Service</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2">They went above and beyond expectations. Highly recommend this team who needs start up funding or additional funding to their business! If you want free professional business advice? Michael is your guy. You’re welcome. </p>
                            </div>

                        </div>

                        <div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                    <img src="demos/hosting/images/svg/location.svg" style="width: 42px;" alt="">
                                </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Finally got my business</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2"> Good job, Funding Avenue! You are a game changer! I’ll definitely come back to you for more services in the future. You guys are amazing! </p>
                            </div>

                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                    <img src="demos/hosting/images/svg/ssl.svg" style="width: 42px;" alt="">
                                </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Awesome Work</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2">It was great working with Funding Avenue. They were very patient with me and always explained whenever I got confused. I would definitly recommend them to anyone I know for sure.</p>
                            </div>

                        </div>

                        <div class="feature-box p-4 topmargin-sm media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                            @*<div class="fbox-media">
                                    <img src="demos/hosting/images/svg/team.svg" style="width: 42px;" alt="">
                                </div>*@
                            <div class="fbox-desc">
                                <h3 class="ls0">Would work with them again</h3>
                                <div class="rating-stars-sm">
                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                </div>
                                <p class="mt-2"> Great team work. Great communication. Great performance. You ares are an A+++ in my book. </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>




    <!--Contact Us
    ======================================
    -->

    <div class="line topmargin-sm bottommargin"></div>
    <div class="promo promo-full header-stick" style="background-color: #989697c9;">
        <div class="container clearfix">
            <h3>Call us today at <span style="color: white">+1.714.515.3968</span> or Email us at <span style="color: white">Michael@fundingavenue.com</span></h3>
            <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
            <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
        </div>
    </div>





</section>
