@{
    ViewData["Title"] = "Business Revolving Credit Lines";
}

<div>

    <!-- Slider
    ============================================= -->
    <section id="slider" class="slider-element bg-angle">

        <!-- Slider Background Map
        ============================================= -->
        <img class="img-map parallax" src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/map-light.svg" alt="" data-0="opacity: 0.05;margin-top:0px" data-800="opacity: 0.5;margin-top:150px">

        <!-- Slider Background Cloud
        ============================================= -->
        <div class="cloud-wrap">
            <div class="c1"><div class="cloud"></div></div>
            <div class="c2"><div class="cloud"></div></div>
            <div class="c3"><div class="cloud"></div></div>
            <div class="c4"><div class="cloud"></div></div>
            <div class="c5"><div class="cloud"></div></div>
        </div>

        <!-- Slider Titiles
        ============================================= -->
        <div class="vertical-middle ignore-header dark">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-5">
                        <div class="slider-title">
                            <h2 class="text-white text-rotater mb-3" data-separator="," data-rotate="fadeIn" data-speed="3500">Business Revolving Credit Lines</h2>
                            <p>
                                Take care of your needs with a business loan. Financing to take your business forward.
                            </p>
                        </div>
                        <a href="#" class="button bg-white text-dark button-light button-rounded button-large color ml-0">Get Your Options <i class="icon-line-arrow-right t600"></i></a>
                    </div>
                    <div class="col-md-5 d-none d-md-block">
                        <img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/3.png" alt="">
                    </div>
                </div>
            </div>
        </div>

    </section><!-- #slider end -->
    <!-- Content
    ============================================= -->
    <section id="content">

        <div class="nopadding">

            <div class="container clearfix">

                <!-- Slider negetive Box
    ============================================= -->
                <div class="row justify-content-center slider-box-wrap clearfix">
                    <div class="col-10">
                        <div class="slider-bottom-box">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-4 mb-3 mb-lg-0">
                                    <h6 class="mb-0">Earn up to</h6>
                                    <h2 class="mb-3 h1 t300">$150,000</h2>
                                    <p class="t400 text-muted mb-0">Whether it’s to cover a major expense or expand your business, Funding Avenue may be able to help.</p>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <ul class="iconlist m-0">
                                        <li>
                                            <img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Apply online in minutes
                                        </li>
                                        <li class="pt-3">
                                            <img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Receive funding fast
                                        </li>
                                        <li class="pt-3">
                                            <img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Get help from Loan Specialists
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <ul class="iconlist m-0">
                                        <li class="pt-3 pt-lg-0">
                                            <img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">No Hidden Fees
                                        </li>
                                        <li class="pt-3"><img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Pay for business expenses</li>
                                        <li class="pt-3">
                                            <img src="http://themes.semicolonweb.com/html/canvas/demos/hosting/images/svg/checked.svg" width="20" height="20" alt="" class="mr-2">Simple and secure process
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <!-- Features Section
    ============================================= -->
                <div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
                    <h2>
                        Join the hundreds of thousands of people who've received loans
                    </h2>
                    <p>Alternative funding through our network of lending sources. Take advantage of this opportunity for your start-up funds, working capital, or potential business acquisition.</p>
                </div>
                <div class="col_one_fourth">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-home"></i></a>
                        </div>
                        <h3 class="t400">Great Rates</h3>
                        <p>0% interest for 6-15 months.</p>
                    </div>
                </div>

                <div class="col_one_fourth">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-compass"></i></a>
                        </div>
                        <h3 class="t400">Solid Financing</h3>
                        <p>Can obtain $20,000 - $150,000.</p>
                    </div>
                </div>

                <div class="col_one_fourth">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-globe-alt"></i></a>
                        </div>
                        <h3 class="t400">Fast Decision</h3>
                        <p>Funded within 2-4 weeks.</p>
                    </div>
                </div>

                <div class="col_one_fourth col_last">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-stack-2"></i></a>
                        </div>
                        <h3 class="t400">Hassle Free</h3>
                        <p>No collateral, income docs, or financials needed.</p>
                    </div>
                </div>
                @*<div class="clear"></div>*@
            </div>


            @*<div class="container clearfix">

                <div class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
                    <h2>
                        Program Perks
                    </h2>
                </div>
                <div class="col_one_fourth">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-home"></i></a>
                        </div>
                        <h3 class="t400">Great Rates</h3>
                        <p>0% interest for 6-15 months.</p>
                    </div>
                </div>

                <div class="col_one_fourth">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-compass"></i></a>
                        </div>
                        <h3 class="t400">Solid Financing</h3>
                        <p>Can obtain $20,000 - $150,000.</p>
                    </div>
                </div>

                <div class="col_one_fourth">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line2-globe-alt"></i></a>
                        </div>
                        <h3 class="t400">Fast Decision</h3>
                        <p>Funded within 2-4 weeks.</p>
                    </div>
                </div>

                <div class="col_one_fourth col_last">
                    <div class="feature-box fbox-plain">
                        <div class="fbox-icon">
                            <a href="#"><i class="icon-line-stack-2"></i></a>
                        </div>
                        <h3 class="t400">Hassle Free</h3>
                        <p>No collateral, income docs, or financials needed.</p>
                    </div>
                </div>
            </div>*@

            <div class="section dark notopmargin nopadding footer-stick" style="padding:20px 0 40px 0 !important;">
                <div class="container clearfix">

                    <div class="row">
                        <div class="col-md-6 offset-md-1">
                            <div class="d-none d-lg-block" style="margin-top: 60px !important;"></div>
                            <img src="demos/app-landing/images/section/section-1-icon.png" alt="" style="display: block;" class="bottommargin-sm">
                            <div class="">
                                <span class="before-heading">With Funding Avenue</span>
                                <h2 style="font-size: 42px;" class="font-body ls1 t400">Four-minute Funding application</h2>
                            </div>
                            <p style="color: #777;" class="">Our online application is so easy, you'll finish it quicker than a morning cup of tea. It's extremely fast and completely secure, too. Filling out your loan application won't hurt your credit score. You'll wonder why you spent so much time elsewhere!</p>
                            <a href="#" class="section-more-link">Learn More <i class="icon-angle-right"></i></a>
                        </div>
                        <div class="col-md-5 topmargin-sm nobg">
                            <div class="feature-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); background-color:white; border: 1px solid #e5e8ed;">
                                <div class="nobottomborder" style="margin-top:35px;">
                                    <h2 style="color:black">Qualifications</h2>
                                    @*<span class="ls1" style="color:black">Qualifications</span>*@
                                </div>

                                <ul class="iconlist iconlist-large iconlist-color">
                                    <li><i class="icon-ok"></i> <span style="color:black">680+ FICO</span></li>
                                    <li><i class="icon-ok"></i> <span style="color:black">No tax liens, judgements, or collections</span></li>
                                    <li><i class="icon-ok"></i> <span style="color:black">No derogatory marks within past 6 months</span></li>
                                    <li><i class="icon-ok"></i> <span style="color:black">No bankruptcy or foreclosure within the past 10 years</span></li>
                                    <li><i class="icon-ok"></i> <span style="color:black">Limited credit inquiries</span></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                </div>
            </div>




            <section id="section-pricing" class="page-section topmargin-lg">

                <div class="heading-block center">
                    <h2>Here's how Funding Avenue <span>Business Credit Lines</span> compare.</h2>
                    @*       <span>Here's how Funding Avenue Business Credit Lines compare.</span>*@
                </div>

                <div class="container clearfix">

                    <div class="row pricing bottommargin clearfix">

                        <div class="col-lg-3" data-animate="fadeInDown" data-delay="250">

                            <div class="pricing-box best-price">
                                <div class="pricing-title">
                                    <h3>Business Credit Lines</h3>
                                    <span>Most Popular</span>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&euro;</span>12<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>1000</strong> User Accounts</li>
                                        <li><strong>2 Years</strong> License</li>
                                        <li>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/apply" class="btn btn-danger btn-block btn-lg bgcolor border-color">Apply Now</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3" data-animate="fadeInLeft">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>Personal Credit Lines</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&euro;</span>7<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>100</strong> User Accounts</li>
                                        <li><strong>1 Year</strong> License</li>
                                        <li>Phone &amp; Email Support</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/product/PersonalCreditLines" class="btn btn-danger btn-block btn-lg">Learn More</a>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3" data-animate="fadeInUp" data-delay="500">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>Personal Cash Loans</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&euro;</span>19<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>500</strong> User Accounts</li>
                                        <li><strong>3 Years</strong> License</li>
                                        <li>Phone &amp; Email Support</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/product/PersonalLoans" class="btn btn-danger btn-block btn-lg">Learn More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3" data-animate="fadeInRight" data-delay="250">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>Alternative Funding</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-unit">&euro;</span>29<span class="price-tenure">/mo</span>
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>Full</strong> Access</li>
                                        <li><i class="icon-code"></i> Source Files</li>
                                        <li><strong>1000</strong> User Accounts</li>
                                        <li><strong>5 Years</strong> License</li>
                                        <li>Phone &amp; Email Support</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/product/AlternativeFunding" class="btn btn-danger btn-block btn-lg">Learn More</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </section>


            <!-- Testimonials Section
    ============================================= -->
            <div class="section nomargin">
                <div class="container">

                    <div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
                        <div class="before-heading">See what Our Customers say</div>
                        <h2>3,583 Happy Users &amp; Counting</h2>
                    </div>

                    <!-- Owl Carousel
            ============================================= -->
                    <div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

                        <!-- Item 1 -->
                        <div class="oc-item">
                            <div class="testimonial p-4 noborder noshadow">
                                @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/1.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                                <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
                                <div class="testi-content">
                                    <p class="font-body font-normal">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                                    <div class="testi-meta">
                                        John Doe
                                        <span>XYZ Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item 2 -->
                        <div class="oc-item">
                            <div class="testimonial p-4 noborder noshadow">
                                @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/2.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                                <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
                                <div class="testi-content">
                                    <p class="font-body font-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                                    <div class="testi-meta">
                                        Collis Ta'eed
                                        <span>Envato Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item 3 -->
                        <div class="oc-item">
                            <div class="testimonial p-4 noborder noshadow">
                                @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/5.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                                <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
                                <div class="testi-content">
                                    <p class="font-normal font-body">Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
                                    <div class="testi-meta">
                                        Mary Jane
                                        <span>Google Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item 4 -->
                        <div class="oc-item">
                            <div class="testimonial p-4 noborder noshadow">
                                @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/4.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                                <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
                                <div class="testi-content">
                                    <p class="font-normal font-body">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                                    <div class="testi-meta">
                                        Steve Jobs
                                        <span>Apple Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Item 5 -->
                        <div class="oc-item">
                            <div class="testimonial p-4 noborder noshadow">
                                @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/3.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                                <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
                                <div class="testi-content">
                                    <p class="font-normal font-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
                                    <div class="testi-meta">
                                        Jamie Morrison
                                        <span>Adobe Inc.</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Bottom Section
    ============================================= -->
            <div class="section bgcolor dark m-0">
                <div class="container">
                    <div class="row center justify-content-center">
                        <div class="col-md-8">
                            <h2 class="t700 text-white mb-3">Get Better Hosting Now. Try Free for 10 days.</h2>
                        </div>
                        <div class="col-md-8">
                            <a href="#" class="button center bg-white color button-light button-rounded button-large ml-0">Sign Up for free</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section><!-- #content end -->

</div>