@{
    ViewData["Title"] = "Personal Revolving Credit Lines";
}

<div>

    <!-- Slider
            ============================================= -->
    <section id="slider" class="slider-element clearfix" style="background: url('/images/background/personal-credit-lines-3.jpg') no-repeat center right; background-size: cover;">

        <div class="vertical-middle ignore-header clearfix" style="z-index: 2;">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-lg-4">
                        <i class="icon-realestate-building" style="font-size: 48px;"></i>
                        <h2 class="ls0 t700 uppercase" style="font-size: 26px;">Personal Loans and<br />Credit Lines</h2>
                        <h3 class="t300" style="font-size: 20px;">Discover a personal line of credit that fits your needs.</h3>
                        <a href="#go" class="button button-circle button-border button-dark button-black button-large tright nomargin clearfix" data-scrollto="#section-about" data-offset="60">Let's Go Inside<i class="icon-line-arrow-down"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="video-wrap d-lg-none" style="height: 100%;z-index: 1;">
            <div class="video-overlay" style="background: rgba(255,255,255,0.8);"></div>
        </div>

    </section><!-- #slider end -->


    <section id="content">

        <div class="nopadding">

            <div class="container clearfix">

                <!-- Slider negetive Box
                ============================================= -->
                <div class="row justify-content-center slider-box-wrap clearfix">
                    <div class="col-10">
                        <div class="slider-bottom-box">
                            <div class="row align-items-center clearfix">
                                <div class="col-lg-4 mb-3 mb-lg-0">
                                    <h6 class="mb-0">Earn up to</h6>
                                    <h2 class="mb-3 h1 t300">$100,000</h2>
                                    <p class="t400 text-muted mb-0">Whether it’s to cover a major expense or expand your business.<br />Funding Avenue may be able to help.</p>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <ul class="iconlist m-0">
                                        <li>
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Free easy apply
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Receive funding fast
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Get help from Loan Specialists
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <ul class="iconlist m-0">
                                        <li class="pt-3 pt-lg-0">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">No Hidden Fees
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Pay for business expenses
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Simple and secure process
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Features Section
                ============================================= -->
                <div id="go" class="heading-block center topmargin-lg divcenter nobottomborder clearfix" style="max-width: 700px">
                    <div class="heading-block bottommargin-sm nobottomborder">
                        <span class="before-heading color">Let a Personal Revolving Credit Line</span>
                        <h2>Help Achieve Your Goals</h2>
                    </div>
                    <p class="lead">Whether you need to make a necessary home or car repairs, tuition payments or fund other major expenses, your Personal Revolving Credit Line is there to help you do things that matter.</p>
                </div>

            </div>


            <div class="promo promo-border promo-dark promo-full nobottommargin" style="padding: 60px 0 !important">
                <div class="container clearfix">
                    <div class="divcenter center" style="max-width: 900px;">
                        <h3 class="nobottommargin t400 nott ls0 h5">
                            Find the Lowest Rates on Personal Credit Lines for Business
                            <a href="/apply" class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400" style="position: relative; top: 12px; margin-left: 35px;"><span>Apply Today</span></a>
                        </h3>
                    </div>
                </div>
            </div>


            <!-- Addition Service Section
            ============================================= -->
            <div class="container clearfix topmargin-sm">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="before-heading">Program Perks</div>
                        <h3>What We Offer You</h3>
                        <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                                    <div class="fbox-media">

                                        <img src="~/images/icons/presentation.svg" style="width: 42px;" alt="">
                                    </div>
                                    <div class="fbox-desc">
                                        <h3 class="ls0">Solid Financing</h3>
                                        <p class="mt-2">Can Obtain $10,000 - $100,000</p>
                                    </div>
                                    @*<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$15/month for Load Balancing <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>*@
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="feature-box p-4 mt-4 mt-sm-0 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                                    <div class="fbox-media">
                                        <img src="~/images/icons/stopwatch.svg" style="width: 42px;" alt="">
                                    </div>
                                    <div class="fbox-desc">
                                        <h3 class="ls0">Fast Decision</h3>
                                        <p class="mt-2">Funded Within 2-4 Weeks</p>
                                    </div>
                                    @*<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$7/month for SSL Certificate <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>*@
                                </div>
                            </div>

                        </div>
                        <div class="row topmargin-sm">

                            <div class="col-md-4">
                                <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                                    <div class="fbox-media">
                                        <img src="~/images/icons/promotion.svg" style="width: 42px;" alt="">
                                    </div>
                                    <div class="fbox-desc">
                                        <h3 class="ls0">Great Rates</h3>
                                        <p class="mt-2">0% Promotional Rate for 12-21 Months</p>
                                    </div>
                                    @*<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$15/month for Load Balancing <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                                    <div class="fbox-media">
                                        <img src="~/images/icons/loan.svg" style="width: 42px;" alt="">
                                    </div>
                                    <div class="fbox-desc">
                                        <h3 class="ls0">Hassle Free</h3>
                                        <p class="mt-2">No collateral, income docs, or financial needs</p>
                                    </div>
                                    @*<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$15/month for Load Balancing <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>*@
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                                    <div class="fbox-media">
                                        <img src="~/images/icons/debt.svg" style="width: 42px;" alt="">
                                    </div>
                                    <div class="fbox-desc">
                                        <h3 class="ls0">0% Interest for 12-21 Months</h3>
                                        <p class="mt-2">80% of Funding Source Offers 0% Interest</p>
                                    </div>
                                    @*<a href="#" class="btn btn-link mt-3 t400 color p-0" style="font-size: 16px;">$15/month for Load Balancing <i class="icon-line-arrow-right position-relative" style="top: 2px"></i></a>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- Addition Service Section
            ============================================= -->
            <div class="container clearfix topmargin-sm">
                <div class="row clearfix">
                    <div class="col-md-12">
                        <div class="before-heading">Program Requirements</div>
                        <h3>How to Qualify</h3>
                        <div class="row">
                            <div class="col-md-4 offset-md-2">
                                <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">
                                    <ul class="iconlist m-0">
                                        <li>
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">680+ FICO
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Limited tax liens, judgements, or collections
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">No derogatory marks within past 6 months
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="feature-box p-4 media-box" style="border-radius: 6px; box-shadow: 0 2px 4px rgba(3,27,78,.1); border: 1px solid #e5e8ed;">

                                    <ul class="iconlist m-0">
                                        <li class="pt-3 pt-lg-0">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">No bankruptcy or foreclosure within the past 10 years
                                        </li>
                                        <li class="pt-3">
                                            <img src="/images/icons/checked.svg" width="20" height="20" alt="" class="mr-2">Limited credit inquiries
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="clear"></div>


            <section id="section-pricing" class="page-section topmargin-lg">

                <div class="heading-block center">
                    <h2>Here's how Funding Avenue <span>Personal Credit Lines</span> compare.</h2>
                    @*       <span>Here's how Funding Avenue Business Credit Lines compare.</span>*@
                </div>

                <div class="container clearfix">

                    <div class="row pricing bottommargin clearfix">



                        <div class="col-lg-3" data-animate="fadeInLeft">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>Business Credit Lines</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>150k
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>680+</strong> FICO</li>
                                        <li><strong>2-4 Weeks</strong> Funded</li>
                                        <li><strong>6-15 months</strong> 0% interest</li>
                                        <li>No collateral, income, &amp; financials needed</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/product/businesscreditlines" class="btn btn-danger btn-block btn-lg">Learn More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3" data-animate="fadeInDown" data-delay="250">

                            <div class="pricing-box best-price">
                                <div class="pricing-title">
                                    <h3>Personal Credit Lines</h3>
                                    @*<span>Most Popular</span>*@
                                </div>
                                <div class="pricing-price">
                                    <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>100k
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>680+</strong> FICO</li>
                                        <li><strong>2-4 Weeks</strong> Funded</li>
                                        <li><strong>12-21 months</strong> 0% interest</li>
                                        <li>No collateral, income, &amp; financials needed</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/apply" class="btn btn-danger btn-block btn-lg bgcolor border-color">Apply Now</a>
                                </div>
                            </div>

                        </div>


                        <div class="col-lg-3" data-animate="fadeInUp" data-delay="500">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>Personal Cash Loans</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>150k
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>680+</strong> FICO</li>
                                        <li><strong>5.99%</strong> Rates</li>
                                        <li><strong>3, 5, 7 Year</strong> Term Loans</li>
                                        <li><strong>2</strong> Recent Pay Stubs Needed</li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/product/PersonalLoans" class="btn btn-danger btn-block btn-lg">Learn More</a>
                                </div>
                            </div>

                        </div>

                        <div class="col-lg-3" data-animate="fadeInRight" data-delay="250">

                            <div class="pricing-box">
                                <div class="pricing-title">
                                    <h3>Combo Funding</h3>
                                </div>
                                <div class="pricing-price">
                                    <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>350k
                                </div>
                                <div class="pricing-features">
                                    <ul>
                                        <li><strong>680+</strong> FICO</li>
                                        <li><strong>2-4 Weeks</strong> Funded</li>
                                        <li><strong>6-12 months</strong> 0% interest</li>
                                        <li>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                        </li>
                                    </ul>
                                </div>
                                <div class="pricing-action">
                                    <a href="/product/ComboFunding" class="btn btn-danger btn-block btn-lg">Learn More</a>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </section>


            <div class="section nobg clearfix">
                <div class="container">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="heading-block nobottomborder mb-0">
                                <small class="text-black-50 uppercase ls3 t600">Get Started Fast</small>
                                <h2 class="capitalize t600 mb-2" style="font-size: 44px; letter-spacing: -1px">Start Growing With Funding Avenue Today</h2>
                                <p class="lead">With a team to help empower you, getting money has never been easier.</p>
                            </div>
                        </div>

                        <div class="col-lg-6 d-inline-block d-sm-inline-flex justify-content-start justify-content-lg-end">
                            <a href="/apply"><div class="button button-xlarge ls0 button-rounded button-shadow nott t400 ">Find My Rate</div></a>
                            @*<div class="button button-xlarge ls0 button-rounded button-shadow nott t400 ">Contact Us</div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>