@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Personal Loans";
}

<!-- Slider
        ============================================= -->
<section id="slider" class="slider-element clearfix">

    <!-- Flex Slide
    ============================================= -->
    <div class="fslider" data-speed="1500" data-autoplay="true" data-pause="6000" data-animation="fade" data-arrows="false" data-pagi="false" data-hover="false" data-touch="false">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide" style="height:700px;background: url('http://themes.semicolonweb.com/html/canvas/demos/headphones/images/slider/3.jpg') center center; background-size: cover;">
                    <div class="vertical-middle">
                        <div class="container dark clearfix">
                            <div class="row justify-content-center clearfix">
                                <div class="col-md-7">
                                    <div class="heading-block nobottomborder parallax nobottommargin" data-0="opacity: 1;margin-top:0px" data-800="opacity: 0.2;margin-top:150px">
                                        <p>Personal Cash Loans</p>
                                        <h2 class="mb-4">Find the Lowest Rates on Personal Cash Loans for Business</h2>
                                        <a href="#" class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400"><span>Apply Now</span></a>
                                    </div>
                                </div>
                                <div class="col-md-5 align-self-lg-center align-self-md-baseline">
                                    @*<a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" class="play-icon" data-lightbox="iframe"><i class="icon-googleplay"></i></a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider Bottom Content
    ============================================= -->
    <div class="slider-product-desc dark">
        <div class="row nomargin d-none d-md-flex clearfix">
            <div class="col-md-6" style="border-right: 1px solid rgba(255,255,255,0.08);">
                <div class="feature-box fbox-dark fbox-plain nobottommargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-globe"></i></a>
                    </div>
                    <h3 class="t400 mb-3">Unsecured Loans</h3>
                    <p class="d-none d-lg-block">Since Personal Cash Loans are a type of unsecured loan, there's no need to put any asset up for collateral!</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="feature-box fbox-dark fbox-plain nobottommargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-arrow-up"></i></a>
                    </div>
                    <h3 class="t400 mb-3">Fast Cash</h3>
                    <p class="d-none d-lg-block">Personal Cash Loans are a quick, simple way to get money without having to wait weeks for approval.</p>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="content">

    <div class="notoppadding clearfix">
        <div class="section notopmargin nobottommargin clearfix" style="padding: 80px 0">
            <div class="container clearfix">

                <div class="divcenter" style="max-width: 960px">
                    <div class="row clearfix">
                        <div class="col-12 col-md-5 center customers-count topmargin-sm">
                            <h2>Pay off business expenses or expand your business.</h2>
                        </div>
                        <div class="col-12 col-md-7">
                            <blockquote class="quote nobottommargin">
                                <p>Are you paying more than 15% interest on your credit cards? Funding Avenue Personal Cash Loans could help you save thousands. With low personal loan interest rates and a fixed monthly payment, you can get loans to pay off credit cards, pay off high inerest debt, or make a major purchase. It only takes minutes to apply.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="section dark nomargin">
        <div class="divcenter center" style="max-width: 900px;">
            <h2 class="nobottommargin t300 ls1">Ready for a Personal Cash Loan? <a href="#" data-scrollto="#template-contactform" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle button-light button-large notopmargin nobottommargin" style="position: relative; top: -3px;">Let's get started</a></h2>
        </div>
    </div>
    <div class="notoppadding clearfix">
        <div class="section notopmargin clearfix" style="padding: 80px 0">
            <div class="container clearfix">

                <!-- Buy And Sell Section
                ============================================= -->
                <div class="section nomargin nopadding clearfix">
                    <div class="row common-height clearfix">
                        <!-- Half Section 1 -->
                        <div class="col-lg-6 dark bgcolor light-box-shadow" style="background: url('demos/car/images/5.jpg') center center no-repeat; background-size: cover;">
                            <div class="col-padding clearfix">
                                <div class="heading-block noborder" style="margin-bottom: 20px;">
                                    <h3>Perks</h3>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon white-color" style="position: relative;">
                                                <a href="#"><i class="icon-line2-users white-color"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3 class="white-color">3, 5, 7 Year Term Loans</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon" style="position: relative;">
                                                <a href="#"><i class="icon-line2-anchor white-color"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3 class="white-color">Rates starting at 5.99%</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Half Section 2 -->
                        <div class="col-lg-6 clearfix" style="background: url('demos/car/images/6.jpg') center center no-repeat; background-size: cover;">
                            <div class="col-padding clearfix">
                                <div class="heading-block noborder" style="margin-bottom: 20px;">
                                    <h3>Qualification</h3>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon" style="position: relative;">
                                                <a href="#"><i class="icon-line-location-2"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3>Tax Returns</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon" style="position: relative;">
                                                <a href="#"><i class="icon-line2-anchor"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3>2 Recent Pay Stubs</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>


    <section id="section-pricing" class="page-section topmargin-lg">

        <div class="heading-block center">
            <h2>Here's how Funding Avenue <span>Personal Cash Loans</span> compare.</h2>
            @*       <span>Here's how Funding Avenue Business Credit Lines compare.</span>*@
        </div>

        <div class="container clearfix">

            <div class="row pricing bottommargin clearfix">


                <div class="col-lg-3" data-animate="fadeInLeft">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Business Credit Lines</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>7<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>100</strong> User Accounts</li>
                                <li><strong>1 Year</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/BusinessCreditLines" class="btn btn-danger btn-block btn-lg">Learn More</a>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3" data-animate="fadeInUp" data-delay="500">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Personal Credit Lines</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>19<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>500</strong> User Accounts</li>
                                <li><strong>3 Years</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/PersonalCreditLines" class="btn btn-danger btn-block btn-lg">Learn More</a>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3" data-animate="fadeInDown" data-delay="250">

                    <div class="pricing-box best-price">
                        <div class="pricing-title">
                            <h3>Personal Cash Loans</h3>
                            <span>Most Popular</span>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>12<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>1000</strong> User Accounts</li>
                                <li><strong>2 Years</strong> License</li>
                                <li>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/apply" class="btn btn-danger btn-block btn-lg bgcolor border-color">Apply Now</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3" data-animate="fadeInRight" data-delay="250">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Alternative Funding</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-unit">&euro;</span>29<span class="price-tenure">/mo</span>
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>Full</strong> Access</li>
                                <li><i class="icon-code"></i> Source Files</li>
                                <li><strong>1000</strong> User Accounts</li>
                                <li><strong>5 Years</strong> License</li>
                                <li>Phone &amp; Email Support</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="#/product/AlternativeFunding" class="btn btn-danger btn-block btn-lg">Learn More</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


    <div id="section-faqs" class="page-section nopadding nomargin">

        <h2 class="center font-body bottommargin-lg">Frequently Asked Questions</h2>

        <div class="row topmargin-sm clearfix">

            <div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
                <h4 class="font-body" style="margin-bottom:15px;">How do I become an author?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi.</p>
            </div>
            <div class="col-lg-5 col-md-6 bottommargin-sm">
                <h4 class="font-body" style="margin-bottom:15px;">Helpful Resources for Authors</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit.</p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
                <h4 class="font-body" style="margin-bottom:15px;">How much money can I make?</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae.</p>
            </div>
            <div class="col-lg-5 col-md-6 bottommargin-sm">
                <h4 class="font-body" style="margin-bottom:15px;">Can I offer my items for free on a promotional basis?</h4>
                <p>Laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
            </div>
            <div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
                <h4 class="font-body" style="margin-bottom:15px;">An Introduction to the Marketplaces for Authors</h4>
                <p>Quisquam atque vero delectus corrupti! Quo, maiores, dolorem, hic commodi nulla ratione accusamus doloribus fuga magnam id temporibus dignissimos deleniti quidem ipsam corporis sapiente nam expedita saepe quas ab? Vero, assumenda.</p>
            </div>
            <div class="col-lg-5 col-md-6">
                <h4 class="font-body" style="margin-bottom:15px;">How does the Tuts+ Premium affiliate program work?</h4>
                <p class="nobottommargin">Reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor.</p>
            </div>

        </div>

    </div>


    <!-- Testimonials Section
    ============================================= -->
    <div class="section nomargin">
        <div class="container">

            <div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
                <div class="before-heading">See what Our Customers say</div>
                <h2>3,583 Happy Users &amp; Counting</h2>
            </div>

            <!-- Owl Carousel
            ============================================= -->
            <div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

                <!-- Item 1 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/1.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-body font-normal">Incidunt deleniti blanditiis quas aperiam recusandae consequatur ullam quibusdam cum libero illo rerum repellendus!</p>
                            <div class="testi-meta">
                                John Doe
                                <span>XYZ Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/2.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-body font-normal">Natus voluptatum enim quod necessitatibus quis expedita harum provident eos obcaecati id culpa corporis molestias.</p>
                            <div class="testi-meta">
                                Collis Ta'eed
                                <span>Envato Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 3 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/5.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-normal font-body">Fugit officia dolor sed harum excepturi ex iusto magnam asperiores molestiae qui natus obcaecati facere sint amet.</p>
                            <div class="testi-meta">
                                Mary Jane
                                <span>Google Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 4 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/4.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-normal font-body">Similique fugit repellendus expedita excepturi iure perferendis provident quia eaque. Repellendus, vero numquam?</p>
                            <div class="testi-meta">
                                Steve Jobs
                                <span>Apple Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 5 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        @*<div class="testi-image">
                                <a href="#"><img src="demos/hosting/images/users/3.jpg" alt="Customer Testimonails"></a>
                            </div>*@
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-normal font-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, perspiciatis illum totam dolore deleniti labore.</p>
                            <div class="testi-meta">
                                Jamie Morrison
                                <span>Adobe Inc.</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>

