@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Personal Cash Loans";
}

<!-- Slider
        ============================================= -->
<section id="slider" class="slider-element clearfix">

    <!-- Flex Slide
    ============================================= -->
    <div class="fslider" data-speed="1500" data-autoplay="true" data-pause="6000" data-animation="fade" data-arrows="false" data-pagi="false" data-hover="false" data-touch="false">
        <div class="flexslider">
            <div class="slider-wrap">
                <div class="slide" style="height:700px;background: url('/images/background/personal-cash-loans.jpg') center center; background-size: cover;">
                    <div class="vertical-middle">
                        <div class="container dark clearfix">
                            <div class="row justify-content-center clearfix">
                                <div class="col-md-7">
                                    <div class="heading-block nobottomborder parallax nobottommargin" data-0="opacity: 1;margin-top:0px" data-800="opacity: 0.2;margin-top:150px">
                                        <p>Personal Cash Loans</p>
                                        <a href="#content" class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400"><span>See More</span></a>
                                    </div>
                                </div>
                                <div class="col-md-5 align-self-lg-center align-self-md-baseline">
                                    @*<a href="https://www.youtube.com/watch?v=P3Huse9K6Xs" class="play-icon" data-lightbox="iframe"><i class="icon-googleplay"></i></a>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Slider Bottom Content
    ============================================= -->
    <div class="slider-product-desc dark">
        <div class="row nomargin d-none d-md-flex clearfix">
            <div class="col-md-6" style="border-right: 1px solid rgba(255,255,255,0.08);">
                <div class="feature-box fbox-dark fbox-plain nobottommargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-globe"></i></a>
                    </div>
                    <h3 class="t400 mb-3">Unsecured Loans</h3>
                    <p class="d-none d-lg-block">Since Personal Cash Loans are a type of unsecured loan, there's no need to put up any assets for collateral!</p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="feature-box fbox-dark fbox-plain nobottommargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-arrow-up"></i></a>
                    </div>
                    <h3 class="t400 mb-3">Fast Cash</h3>
                    <p class="d-none d-lg-block">Personal Cash Loans are a quick, simple way to get money without having to wait weeks for approval.</p>
                </div>
            </div>
        </div>
    </div>

</section>


<section id="content">

    <div class="notoppadding clearfix">
        <div class="section notopmargin nobottommargin clearfix" style="padding: 80px 0">
            <div class="container clearfix">

                <div class="divcenter" style="max-width: 960px">
                    <div class="row clearfix">
                        <div class="col-12 col-md-5 center customers-count topmargin-sm">
                            <h2>Pay off business expenses or expand your business.</h2>
                        </div>
                        <div class="col-12 col-md-7">
                            <blockquote class="quote nobottommargin">
                                <p>Are you paying more than 15% interest on your credit cards? With low personal loan interest rates and a fixed monthly payment, you can get loans to pay off credit cards, pay off high interest debt, or make a major purchase. It only takes minutes to apply.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div class="section dark nomargin">
        <div class="divcenter center" style="max-width: 900px;">
            <h2 class="nobottommargin t300 ls1">Ready for a Personal Cash Loan? <a href="/apply" data-scrollto="#template-contactform" data-offset="140" data-easing="easeInOutExpo" data-speed="1250" class="button button-border button-circle button-light button-large notopmargin nobottommargin" style="position: relative; top: -3px;">Let's get started</a></h2>
        </div>
    </div>
    <div class="notoppadding clearfix">
        <div class="section notopmargin clearfix" style="padding: 80px 0">
            <div class="container clearfix">

                <!-- Buy And Sell Section
                ============================================= -->
                <div class="section nomargin nopadding clearfix">
                    <div class="row common-height clearfix">
                        <!-- Half Section 1 -->
                        <div class="col-lg-6 dark bgcolor light-box-shadow" style="background: url('') center center no-repeat; background-size: cover;">
                            <div class="col-padding clearfix">
                                <div class="heading-block noborder" style="margin-bottom: 20px;">
                                    <h3>Perks</h3>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon white-color" style="position: relative;">
                                                <a href="#"><i class="icon-line2-graph white-color"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3 class="white-color">3, 5, 7 Year Term Loans</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon" style="position: relative;">
                                                <a href="#"><i class="icon-line2-star white-color"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3 class="white-color">Rates starting at 5.99%</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Half Section 2 -->
                        <div class="col-lg-6 clearfix" style="background: url('') center center no-repeat; background-size: cover;">
                            <div class="col-padding clearfix">
                                <div class="heading-block noborder" style="margin-bottom: 20px;">
                                    <h3>Qualification</h3>
                                </div>
                                <div class="row clearfix">
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon" style="position: relative;">
                                                <a href="#"><i class="icon-line2-docs"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3>Tax Returns</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="feature-box fbox-plain media-box">
                                            <div class="fbox-icon" style="position: relative;">
                                                <a href="#"><i class="icon-line-stack"></i></a>
                                            </div>
                                            <div class="fbox-desc" style="margin-top: 25px">
                                                <h3>2 Recent Pay Stubs</h3>
                                                @*<p class="t300" style="color: #666;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est perspiciatis mollitia.</p>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section>


    <section id="section-pricing" class="page-section topmargin-lg">

        <div class="heading-block center">
            <h2>Here's how Funding Avenue <span>Personal Cash Loans</span> compare.</h2>
            @*       <span>Here's how Funding Avenue Business Credit Lines compare.</span>*@
        </div>

        <div class="container clearfix">

            <div class="row pricing bottommargin clearfix">


                <div class="col-lg-3" data-animate="fadeInLeft">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Business Credit Lines</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>150k
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>680+</strong> FICO</li>
                                <li><strong>2-4 Weeks</strong> Funded</li>
                                <li><strong>6-15 months</strong> 0% interest</li>
                                <li>No collateral, income, &amp; financials needed</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/BusinessCreditLines" class="btn btn-danger btn-block btn-lg">Learn More</a>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3" data-animate="fadeInUp" data-delay="500">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Personal Credit Lines</h3>
                        </div>
                        <div class="pricing-price">
                                    <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>100k
                                </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>680+</strong> FICO</li>
                                <li><strong>2-4 Weeks</strong> Funded</li>
                                <li><strong>12-21 months</strong> 0% interest</li>
                                <li>No collateral, income, &amp; financials needed</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/PersonalCreditLines" class="btn btn-danger btn-block btn-lg">Learn More</a>
                        </div>
                    </div>

                </div>


                <div class="col-lg-3" data-animate="fadeInDown" data-delay="250">

                    <div class="pricing-box best-price">
                        <div class="pricing-title">
                            <h3>Personal Cash Loans</h3>
                            <span>Most Popular</span>
                        </div>
                        <div class="pricing-price">
                            <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>150k
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>680+</strong> FICO</li>
                                <li><strong>5.99%</strong> Rates</li>
                                <li><strong>3, 5, 7 Year</strong> Term Loans</li>
                                <li><strong>2</strong> Recent Pay Stubs Needed</li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/apply" class="btn btn-danger btn-block btn-lg bgcolor border-color">Apply Now</a>
                        </div>
                    </div>

                </div>

                <div class="col-lg-3" data-animate="fadeInRight" data-delay="250">

                    <div class="pricing-box">
                        <div class="pricing-title">
                            <h3>Combo Funding</h3>
                        </div>
                        <div class="pricing-price">
                            <span class="price-tenure">up to</span><span class="price-unit">&#36;</span>350k
                        </div>
                        <div class="pricing-features">
                            <ul>
                                <li><strong>680+</strong> FICO</li>
                                <li><strong>2-4 Weeks</strong> Funded</li>
                                <li><strong>6-12 months</strong> 0% interest</li>
                                <li>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                    <i class="icon-star3"></i>
                                </li>
                            </ul>
                        </div>
                        <div class="pricing-action">
                            <a href="/product/ComboFunding" class="btn btn-danger btn-block btn-lg">Learn More</a>
                        </div>
                    </div>

                </div>

            </div>

        </div>

    </section>


    @*<div id="section-faqs" class="page-section nopadding nomargin">

            <h2 class="center font-body bottommargin-lg">Frequently Asked Questions</h2>

            <div class="row topmargin-sm clearfix">

                <div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
                    <h4 class="font-body" style="margin-bottom:15px;">How do I become an author?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, dolorum, vero ipsum molestiae minima odio quo voluptate illum excepturi quam cum voluptates doloribus quae nisi.</p>
                </div>
                <div class="col-lg-5 col-md-6 bottommargin-sm">
                    <h4 class="font-body" style="margin-bottom:15px;">Helpful Resources for Authors</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, placeat, architecto rem dolorem dignissimos repellat veritatis in et eos doloribus magnam aliquam ipsa alias assumenda officiis quasi sapiente suscipit.</p>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
                    <h4 class="font-body" style="margin-bottom:15px;">How much money can I make?</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus, fugiat iste nisi tempore nesciunt nemo fuga? Nesciunt, delectus laboriosam nisi repudiandae nam fuga saepe animi recusandae.</p>
                </div>
                <div class="col-lg-5 col-md-6 bottommargin-sm">
                    <h4 class="font-body" style="margin-bottom:15px;">Can I offer my items for free on a promotional basis?</h4>
                    <p>Laboriosam iusto quia nulla ad voluptatibus iste beatae voluptas corrupti facilis accusamus recusandae sequi debitis reprehenderit quibusdam. Facilis eligendi a exercitationem nisi et placeat excepturi velit!</p>
                </div>
                <div class="col-lg-5 offset-lg-1 col-md-6 bottommargin-sm">
                    <h4 class="font-body" style="margin-bottom:15px;">An Introduction to the Marketplaces for Authors</h4>
                    <p>Quisquam atque vero delectus corrupti! Quo, maiores, dolorem, hic commodi nulla ratione accusamus doloribus fuga magnam id temporibus dignissimos deleniti quidem ipsam corporis sapiente nam expedita saepe quas ab? Vero, assumenda.</p>
                </div>
                <div class="col-lg-5 col-md-6">
                    <h4 class="font-body" style="margin-bottom:15px;">How does the Tuts+ Premium affiliate program work?</h4>
                    <p class="nobottommargin">Reprehenderit similique nemo voluptate ullam natus illum magnam alias nobis doloremque delectus ipsa dicta repellat maxime dignissimos eveniet quae debitis ratione assumenda tempore officiis fugiat dolor.</p>
                </div>

            </div>

        </div>*@


    <div class="section nomargin">
        <div class="container">

            <div class="heading-block center mt-2 mb-3 divcenter nobottomborder clearfix" style="max-width: 700px">
                <div class="before-heading">See what our previous customers have to say:</div>
            </div>

            <!-- Owl Carousel
            ============================================= -->
            <div id="oc-testimonials" class="owl-carousel center testimonials-carousel testimonial-full carousel-widget mt-5" data-margin="0" data-items-xs="1" data-items-sm="1" data-items-md="1" data-items-lg="2" data-items-xl="3" data-center="true" data-loop="true" data-autoplay="4000" data-speed="500">

                <!-- Item 1 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-body font-normal">
                                I give this team a five-star rating! They have done so much for me and my business partners in our
                                business. We were in a pinch with cutting the time so closely but they have made it possible! Thank you,
                                Michael, and Elsi!
                            </p>
                            <div class="testi-meta">
                                Jenna
                                <span>Florida</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 2 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-body font-normal">
                                Good job, Funding Avenue! You are a game changer! I’ll definitely come back to you for more services in
                                the future. You guys are amazing!
                            </p>
                            <div class="testi-meta">
                                Valeria
                                <span>New York</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 4 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-normal font-body">
                                This group of professionals make this process very steady and smoothly from beginning to the end. Their
                                teamwork is superb and I am satisfied with the end result. They have made this process as painless and
                                stress-free as possible. Very communicative and helpful with all my questions. Five stars for excellent
                                customer service.
                            </p>
                            <div class="testi-meta">
                                Douglas
                                <span>Nebraska</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Item 5 -->
                <div class="oc-item">
                    <div class="testimonial p-4 noborder noshadow">
                        <ul class="list-unstyled ml-0 mt-4 mb-2"><li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li></ul>
                        <div class="testi-content">
                            <p class="font-normal font-body">
                                A group of amazing people. As a small business owner, this is like a blessing in disguise. I’ve always
                                wanted to own my own nail salon and this was made possible thanks to Funding Avenue. This is a
                                serious review for them! What they say, they deliver, even more than that.
                            </p>
                            <div class="testi-meta">
                                Ly
                                <span>Texas</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Bottom Section
    ============================================= -->
    <div class="section bgcolor dark m-0">
        <div class="container">
            <div class="row center justify-content-center">
                <div class="col-md-8">
                    <h2 class="t700 text-white mb-3">Ready to get started? It's easy.</h2>
                </div>
                <div class="col-md-8">
                    <a href="/apply" class="button center bg-white color button-light button-rounded button-large ml-0">Apply Now</a>
                </div>
            </div>
        </div>
    </div>

</section>

