@{
    ViewData["Title"] = "Real Estate";
}

<section id="slider" class="slider-element slider-parallax" style="background: url('https://homewoodsfurniture.com/images/bg-image-47.jpg') 0% 35% no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">

    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    <h1>
                        House Loan Does Support Your Business
                    </h1>
                    <span class="d-none d-md-block">
                        Utilize the equity in your home to fund your business. <br>Pull up to 80% of your home’s value.
                        <br>Allow your home to work for you.
                    </span>
                </div>

                <a href="/apply" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Get your rates</span></a>

            </div>
        </div>
        <div class="video-wrap" style="position:absolute;top:0;left:0;height:100%;z-index:1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
        </div>
    </div>
</section>


<!-- Content
        =============================================-->
<section id="content">

    <!-- 6 Component Contents
        =============================================-->
    <div class="content-wrap-custom">

        <div class="container clearfix">

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Hassle Free</h3>
                    <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Well Constructed</h3>
                    <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Free Utilites</h3>
                    <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Flexible Rentals</h3>
                    <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Easy Financing</h3>
                    <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Solid Paperwork</h3>
                    <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
                </div>
            </div>

            @*<div class="line topmargin-sm bottommargin-sm"></div>*@
        </div>
    </div>




    <!-- Two Criteria Section
                    ============================================= -->
        <div class="section nomargin nopadding clearfix">
            <div class="row common-height clearfix">
                <!-- Half Section 1 -->
                <div class="col-lg-6 dark clearfix bgcolor-custom" style="background: url('~/images/background/2.jpg') center center no-repeat; background-size: cover;">
                    <div class="content">
                    <div class="row clearfix col-padding-custom">
                        
                        <div class="noborder">
                            <h3>Cash Out Refinanace Qualification</h3>
                        </div>
                        <p class="nobottommargin">Replaces your existing mortgage with a new home loan for more than you owe on your house. </p>
                        
                    </div>
                   
                    <div class="row clearfix" style="padding-left: 30px; padding-right: 30px;">
                        <div class="col_one_fourth center  nobottommargin notopmargin">
                            <div>
                                <i class="i-plain i-large divcenter icon-car-fulltime topmargin-sm" style="color:white;"></i>
                                <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="620" data-refresh-interval="10" data-speed="1000"></span></div>
                                <h5>Minimum <br/>Credit Score</h5>
                            </div>
                        </div>


                        <div class="col_one_fourth  center notopmargin nobottommargin ">
                            <div>
                                <i class="i-plain i-large divcenter icon-car-money topmargin-sm" style="color:white;"></i>
                                <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="43" data-refresh-interval="10" data-speed="700"></span>%</div>
                                <h5>Low Debt To Income Ratio</h5>
                            </div>
                        </div>

                        <div class="col_one_fourth center notopmargin nobottommargin" style="margin-right:2%">
                            <div>
                                <i class="i-plain i-large divcenter icon-car-fan topmargin-sm" style="color:white;"></i>
                                <div class="counter-custom center notopmargin" style="font-size:31px;"><span></span>$$</div>
                                <h5>Income</h5>
                            </div>
                        </div>

                        <div class="col_one_fourth center notopmargin nomargin">
                            <div >
                                <i class="i-plain i-large divcenter icon-car-fuel topmargin-sm" style="color:white;"></i>
                                <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="80" data-refresh-interval="10" data-speed="700"></span>%</div>
                                <h5>Loan To Value</h5>
                            </div>
                        </div>
                    </div>
                        </div>
              
                       
               </div>
                
                <!-- Half Section 2 -->
                <div class="col-lg-6 dark clearfix bgcolor" style="background: url('demos/car/images/6.jpg') center center no-repeat; background-size: cover;">
                    <div class="content">
                        <div class="row clearfix col-padding-custom">
                            <div class="noborder">
                                <h3>Home Equity Line of Credit</h3>
                            </div>
                            <p class="nobottommargin">Replaces your existing mortgage with a new home loan for more than you owe on your house. </p>

                        </div>

                        <div class="row clearfix" style="padding-left: 30px; padding-right: 30px;">
                            <div class="col_one_fourth center  notopmargin nobottommargin">
                                <div>
                                    <i class="i-plain i-large divcenter icon-car-fulltime topmargin-sm" style="color:white;"></i>
                                    <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="620" data-refresh-interval="10" data-speed="1000"></span></div>
                                    <h5>Minimum <br />Credit Score</h5>
                                </div>
                            </div>


                            <div class="col_one_fourth  center notopmargin nobottommargin ">
                                <div>
                                    <i class="i-plain i-large divcenter icon-car-money topmargin-sm" style="color:white;"></i>
                                    <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="43" data-refresh-interval="10" data-speed="700"></span>%</div>
                                    <h5>Low Debt To Income Ratio</h5>
                                </div>
                            </div>

                            <div class="col_one_fourth center notopmargin nobottommargin " style="margin-right:2%;">
                                <div >
                                    <i class="i-plain i-large divcenter icon-car-fan topmargin-sm" style="color:white;"></i>
                                    <div class="counter-custom center notopmargin" style="font-size:31px;"><span></span>$$</div>
                                    <h5>Income</h5>
                                </div>
                            </div>

                            <div class="col_one_fourth center nomargin">
                                <div >
                                    <i class="i-plain i-large divcenter icon-car-fuel topmargin-sm" style="color:white;"></i>
                                    <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="80" data-refresh-interval="10" data-speed="700"></span>%</div>
                                    <h5>Loan To Value</h5>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                </div>
        </div>






    <!--Content: Benefits of House Loan
        ==============================================-->

    <div class="container clearfix">

        <div class="row clearfix topmargin-lg bottommargin-lg">

            <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">

                <div class="heading-block nobottomborder">
                    <h2 class="nott ls0" style="font-size: 44px; line-height: 1.2">Benefits of <br> House Loan</h2>
                </div>
                <span style="color: #BBB;">pede, numquam fringilla proident dis? Molestias repellat.<br><br>Quas perferendis urna, officiis necessitatibus deserunt recusandae urna ullamco hac do beatae cubilia iste dolorum, facilisi? Sit, hic, varius! Sollicitudin.<br><br>Nostrum feugiat beatae proident porro eleifend adipiscing nostrud aliquid sit.</span>
                <div class="clear"></div>
                <a href="/apply" class="button button-rounded button-black button-dark noleftmargin topmargin-sm clearfix">Apply Now</a>

            </div>

            <div class="col-lg-4 d-md-none d-lg-block center">
                <img src="~/images/items/RealEstatePageItem.png" alt="Car">
            </div>

            <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">
                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-car-battery"></i></a>
                    </div>
                    <h3>Select your loan for qualification</h3>
                    <p>Canvas provides support for Native HTML5 Videos that can be added to a Background.</p>
                </div>

                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-car-cogs2"></i></a>
                    </div>
                    <h3>Fill out the form and send application</h3>
                    <p>Complete control on each &amp; every element that provides endless customization.</p>
                </div>

                <div class="feature-box fbox-plain topmargin">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-car-pump"></i></a>
                    </div>
                    <h3>Receive feedback from us</h3>
                    <p>Change your Website's Primary Scheme instantly by simply adding the dark class.</p>
                </div>
            </div>
        </div>

    </div> <!-- Features Area End -->
    @*<div class="line topmargin-sm bottommargin-sm"></div>*@



    <!--Content: Alternative Plan Action
    =============================================-->

    <div class="notopmargin bottommargin">
        <div class="clearfix">
            <a href="/alternativefunding" class="button button-full center tright footer-stick">
                <div class="container clearfix">
                    Looking for more than house loan? <strong> Alternative Plans</strong> <i class="icon-caret-right" style="top:4px;"></i>
                </div>
            </a>
        </div>
    </div>

    <!-- Content: How It Works
    ============================================= -->
    <div id="service" class="section page-section nobg nopadding notopmargin nobottommargin clearfix">

        <div class="row common-height clearfix nobottommargin">

            <!-- Service Image
            ============================================= -->
            <div class="col-lg-6 center col-padding parallax" style="background-image: url('http://themes.semicolonweb.com/html/canvas/demos/real-estate/images/hero/3.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
                <div class="vertical-middle dark">
                    <div class="heading-block center">
                        <h2 class="nott ls0" style="font-size: 54px">How It Works</h2>
                    </div>
                </div>
            </div>

            <!-- Service Featured Boxes
            ============================================= -->
            <div class="col-lg-6 col-padding" style="background-color: #F9F9F9">
                <div>
                    <div class="row clearfix" style="padding: 20px 0">
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/scessior.svg" alt=""></a>
                                </div>
                                <h3>1) Painless pre-qualification</h3>
                                <p>Get pre-qualified online in two minutes. No obligations, no commitments, no hidden fees.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/moustache.svg" alt=""></a>
                                </div>
                                <h3>2) Select your loan.</h3>
                                <p>Find the loan that matches your financial goals and apply online</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/comb.svg" alt=""></a>
                                </div>
                                <h3>3) Receive the funds.</h3>
                                <p>Once you sign your paperwork, we'll transfer the funds. Usually within 30 days.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/time.svg" alt=""></a>
                                </div>
                                <h3>4) Great Location</h3>
                                <p>Holisticly fashion cooperative ROI without unique intellectual capital. Synergistically engage orthogonal.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/drier1.svg" alt=""></a>
                                </div>
                                <h3>5) Customer Service</h3>
                                <p>Monotonectally evisculate high standards in best practices before exceptional web-readiness. Competently.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- Contents: Reviews
        ===============================-->
    <div class="container clearfix topmargin-lg">

        <div class="emphasis-title center divcenter" style="max-width: 800px">
            <h2 class="font-secondary nott t700" style="font-size: 45px">Reviews From Our Clients</h2>
        </div>

        <div class="row bottommargin clearfix">
            <div class="clear"></div>

            <div class="col-12 reviews-lists clearfix">

                <div id="oc-team" class="owl-carousel team-carousel bottommargin carousel-widget" data-margin="0" data-pagi="false" data-items="1" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="5000">

                    @*<div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            @*<div class="col-12 col-md-4">
                                                <div class="review-company">Datanetpress</div>
                                                <div class="review-id">Themeforest Author</div>
                                                <div class="rating-stars fright">
                                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                                </div>
                                                <div class="review-date">
                                                    Sold 19/11/2016<br>
                                                    after 22 days
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Awesome Template and Good Support.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>Not only is this a REALLY professionally designed website, but the support is phenomenal. They have promptly answered all of my questions (and I had several :) ) Nice job SemiColonWeb!!! I highly recommend your HTML template to anyone looking for a website. Excellent, only gripe is the php email section, that needs to be better otherwise a brilliant template and set of codes. well done. Hello, I would like to say that :SemiColonWeb" has being the SUPER BEST CUSTOMER SERVICE I HAVE EVER HAD during all my year in Envato. This Guys are the Best, not only on Design by the most Important for us, in customer service. There are fast, super professional, on time and the most important they care about their clients. 100 BIG STARS FOR EVER!!!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="oc-item">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-12">
                                <div class="review clearfix">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="review-company">VarunD</div>
                                            <div class="review-id">Themeforest Author</div>
                                            <div class="rating-stars">
                                                <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                            </div>
                                            <div class="review-date">
                                                Sold 21/09/2016<br>
                                                after 39 days
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="review-title">
                                                <h3>Nice Design Quality &amp; Well Support.</h3>
                                            </div>
                                            <div class="review-content">
                                                <p>Excellent, only gripe is the php email section, that needs to be better otherwise a brilliant template and set of codes. well done. Awesome theme. Using it for two different sites at the moment and it keeps on giving! Thanks SemiColonWeb! Love this template. one of the best I've worked with. Wow, very inspiring design and excellent code. One of the best HTML and bootstrap templates here on Themeforest with infinitely many features. Really Well Done! Flexible, easy to customize, amazing code quality and a good documentation. This theme fits well in various business strategies.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-12">
                                <div class="review clearfix">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="review-company">Paultran47</div>
                                            <div class="review-id">Themeforest Author</div>
                                            <div class="rating-stars">
                                                <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                            </div>
                                            <div class="review-date">
                                                Sold 03/01/2017<br>
                                                after 11 days
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="review-title">
                                                <h3>The support is wonderful as well.</h3>
                                            </div>
                                            <div class="review-content">
                                                <p>It's amazing that less than 20 dollars gets you more than 400 templates and a bunch of customisability. But what I love the most about Canvas's template is the clear and clean code structure. Everything is easy to understand and to find. This template is so well done, clean and well documented. Having examples for almost any variation that I can use as a basis. I find this much more efficient that website builders. Continue this great work! Really, really great job, guys!!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>






                <!--Contact Us
            ======================================
            -->
    
    <div class="line topmargin-sm bottommargin"></div>
    <div class="promo promo-full header-stick" style="background-color: #989697c9;">
        <div class="container clearfix">
            <h3>Call us today at <span style="color: white">+1.949.574.1541</span> or Email us at <span style="color: white">fundingavenue@email.com</span></h3>
            <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
            <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
        </div>
    </div>



   
</section><!-- #content end -->




