@{
    ViewData["Title"] = "Real Estate";
}

<section id="slider" class="slider-element slider-parallax" style="background: url('https://homewoodsfurniture.com/images/bg-image-47.jpg') 0% 35% no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">

    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    <h1>
                        Allow Your Home to work for you
                    </h1>
                    <span class="d-none d-md-block">
                        Utilize the equity in your home to fund your business.

                    </span>
                </div>

                <a href="/apply" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Get your rates</span></a>

            </div>
        </div>
        <div class="video-wrap" style="position:absolute;top:0;left:0;height:100%;z-index:1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
        </div>
    </div>
</section>


<!-- Content
        =============================================-->
<section id="content" style="overflow: visible;">

    <!-- WhyFundingAvenue
        =============================================-->

    <div class="content-wrap notoppadding nobottompadding">


        <div class="section notopmargin nobottommargin clearfix " style="background-color:white;">

            <div class="container clearfix">
                <div class="row clearfix" style="position: relative;">
                    <div class="col-lg-6 bottommargin">
                        <div class="content" style="padding-left: 100px; ">
                            <img src="~/images/items/RealEstatePageItem.png" alt="">

                        </div>
                    </div>
                    <div class="col-lg-6 topmargin">
                        <div class="heading-block hlarge">
                            <h3 style="font-size: 50px;">Your Time Matters To Us</h3>
                        </div>
                        <div class="feature-box fbox-plain" style="padding-bottom:13px;">
                            <div class="fbox-icon">
                                <i class="icon-line2-check"></i>
                            </div>
                            <h3 class="t400">Easy Online Apply</h3>
                        </div>
                        <div class="feature-box fbox-plain" style="padding-bottom:13px;">
                            <div class="fbox-icon">
                                <i class="icon-line2-check"></i>
                            </div>
                            <h3 class="t400">Pre-qualified within One Business Day</h3>
                        </div>
                        <div class="feature-box fbox-plain" style="padding-bottom:13px;">
                            <div class="fbox-icon">
                                <i class="icon-line2-check"></i>
                            </div>
                            <h3 class="t400">High Rate of Approval</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="clear"></div>
        @*<div class="line"></div>*@



    






        <!-- ==================== Contact Us =================== -->

        <div class="notopmargin bottommargin" style="padding-bottom:20px; background-color:#444;">
            <div class="clearfix">
                <div class="divcenter center" style="max-width: 900px; ">
                    <div class="nobottommargin t400 nott ls0 " style="color: whitesmoke; font-size: 23px;">
                        Earn Up To 80%  of Your House Value
                        <a href="/contactus" class="button button-border button-circle button-fill fill-from-bottom button-white button-light nott t400"
                           style="border-color:whitesmoke; position: relative; top: 15px; margin-left: 35px; color:whitesmoke;"><span>Contact Us</span></a>
                    </div>
                </div>
            </div>
        </div>




        <!--
    Cash Refinance -->

        <div class="section nobg ">
            <div class="container clearfix" style="max-width:75%;">

                <div class="row">
                    <div class="col-lg-6 topmargin-sm" >
                        <div class="heading-block nobottomborder">
                            <h2>Cash Out Refinance</h2>
                            <span class="ls1">Qualifications &amp; Benefits</span>
                        </div>

                        <ul class="iconlist iconlist-large iconlist-color" >
                            <li><i class="icon-ok"></i> Immediate Cash Infusion For Your Business</li>
                            <li><i class="icon-ok"></i> Lower Interest Rates And Payments</li>
                            @*<li><i class="icon-ok"></i> Potential Tax Rebates</li>*@

                        </ul>
                    </div>


                    <div class="col-lg-6">
                        @*<img src="~/images/background/RE-1.jpg" alt="Bottom Trust">*@
                        <div class="heading-block nobottomborder topmargin-sm nobottommargin">
                            <h2 class="ls1 nott t400">Qualifications</h2>
                            <div class="line line-xs line-market"></div>
                           

                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small color center"><span data-from="10" data-to="660" data-refresh-interval="50" data-speed="1000"></span></div>
                                    <h5 class="color t600 nott notopmargin center" style="font-size: 16px;">Minimum<br>Credit Score</h5>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small center" style="color: #22c1c3;"><span data-from="10" data-to="43" data-refresh-interval="50" data-speed="700"></span>%</div>
                                    <h5 class="t600 nott notopmargin center" style="color: #22c1c3; font-size: 16px;">Low Debt To<br>Income Ratio</h5>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small center" style="color: #BD3F32;"><span data-from="10" data-to="80" data-refresh-interval="14" data-speed="1200"></span>%</div>
                                    <h5 class="t600 nott notopmargin center" style="color: #BD3F32; font-size: 16px;">Loan to Value</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small center" style="color: #388814;">$$</div>
                                    <h5 class="t600 nott notopmargin nobottommargin center" style="color: #388814; font-size: 16px;">Income</h5>
                                    <h6 style="text-align: center; color: #388814;">Tax Returns &amp; <br>Pay Stubs</h6>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>




        <div class="line" style="padding-top:50px;"></div>





        <!--
    Home Equity Lines Of Credit
    -->

        <div class="section nobg notopmargin nopadding">
            <div class="container clearfix" style="padding-bottom:90px; max-width:75%">
                <div class="row ">
                    <div class="col-lg-6">

                        <div class="heading-block nobottomborder topmargin-sm">
                            <h2>Home Equity Lines Of Credit </h2>
                            <span class="ls1">Qualifications &amp; Benefits</span>
                        </div>

                        <ul class="iconlist iconlist-large iconlist-color">
                            <li><i class="icon-ok"></i> Immediate Cash Infusion For Your Business</li>
                            <li><i class="icon-ok"></i> Lower Interest Rates And Payments</li>
                            @*<li><i class="icon-ok"></i> Potential Tax Rebates</li>*@

                        </ul>

                    </div>

                    <div class="col-lg-6">
                        <div class="heading-block nobottomborder topmargin-sm nobottommargin">
                            <h2 class="ls1 nott t400">Qualifications</h2>
                            <div class="line line-xs line-home"></div>
                           
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small color center"><span data-from="10" data-to="620" data-refresh-interval="50" data-speed="1000"></span></div>
                                    <h5 class="color t600 nott notopmargin center" style="font-size: 16px;">Minimum<br>Credit Score</h5>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small center" style="color: #22c1c3;"><span data-from="10" data-to="43" data-refresh-interval="50" data-speed="700"></span>%</div>
                                    <h5 class="t600 nott notopmargin center" style="color: #22c1c3; font-size: 16px;">Low Debt To<br>Income Ratio</h5>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small center" style="color: #BD3F32;"><span data-from="10" data-to="80" data-refresh-interval="14" data-speed="1200"></span>%</div>
                                    <h5 class="t600 nott notopmargin center" style="color: #BD3F32; font-size: 16px;">Loan to Value</h5>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <div class="counter counter-small center" style="color: #388814;">$$</div>
                                    <h5 class="t600 nott notopmargin center nobottommargin" style="color: #388814; font-size: 16px;">Income</h5>
                                    <h6 style="text-align: center; color: #388814;">Tax Returns &amp; <br>Pay Stubs</h6>
                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </div>



        <!--Content: Alternative Plan Action
    =============================================-->

        <div class="notopmargin">
            <div class="clearfix">
                <a href="/product/combofunding" class="button button-full center tright ">
                    <div class="container clearfix">
                        Looking for more than house loan? <strong> Try Our Combination Plans</strong> <i class="icon-caret-right" style="top:4px;"></i>
                    </div>
                </a>
            </div>
        </div>

        <!-- Content: How It Works
    ============================================= -->
        <div id="service" class="section page-section nobg nopadding notopmargin nobottommargin clearfix">

            <div class="row common-height clearfix nobottommargin">

                <!-- Service Image
            ============================================= -->
                <div class="col-lg-6 center col-padding parallax" style="background-image: url('/images/background/testimonials.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
                    <div class="vertical-middle dark">
                        <div class="heading-block center">
                            <h2 class="nott ls0" style="font-size: 54px">How It Works</h2>
                        </div>
                    </div>
                </div>

                <!-- Service Featured Boxes
            ============================================= -->
                <div class="col-lg-6 col-padding" style="background-color: #F9F9F9">
                    <div>
                        <div class="row clearfix" style="padding: 20px 0">
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <img src="demos/barber/images/icons/scessior.svg" alt="">
                                    </div>
                                    <h3>1) Select the type of loan you want to apply</h3>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <img src="demos/barber/images/icons/moustache.svg" alt="">
                                    </div>
                                    <h3>2) Apply online for pre-approval</h3>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/comb.svg" alt=""></a>
                                    </div>
                                    <h3>3) Receive a confirmation callfrom ourspecialist</h3>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/time.svg" alt=""></a>
                                    </div>
                                    <h3>4) Application in process</h3>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/drier1.svg" alt=""></a>
                                    </div>
                                    <h3>5) Receive fundswithin 2-4 weeks</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



            </div>
        </div>


        <!-- Contents: Reviews
    ===============================-->
        <div class="container clearfix topmargin-lg">

            <div class="emphasis-title center divcenter" style="max-width: 800px">
                <h2 class="font-secondary nott t700" style="font-size: 45px">Reviews From Our Clients</h2>
            </div>

            <div class="row bottommargin clearfix">
                <div class="clear"></div>

                <div class="col-12 reviews-lists clearfix">

                    <div id="oc-team" class="owl-carousel team-carousel bottommargin carousel-widget" data-margin="0" data-pagi="false" data-items="1" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="5000">

                        @*<div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            @*<div class="col-12 col-md-4">
                                                <div class="review-company">Datanetpress</div>
                                                <div class="review-id">Themeforest Author</div>
                                                <div class="rating-stars fright">
                                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                                </div>
                                                <div class="review-date">
                                                    Sold 19/11/2016<br>
                                                    after 22 days
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Awesome Template and Good Support.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>Not only is this a REALLY professionally designed website, but the support is phenomenal. They have promptly answered all of my questions (and I had several :) ) Nice job SemiColonWeb!!! I highly recommend your HTML template to anyone looking for a website. Excellent, only gripe is the php email section, that needs to be better otherwise a brilliant template and set of codes. well done. Hello, I would like to say that :SemiColonWeb" has being the SUPER BEST CUSTOMER SERVICE I HAVE EVER HAD during all my year in Envato. This Guys are the Best, not only on Design by the most Important for us, in customer service. There are fast, super professional, on time and the most important they care about their clients. 100 BIG STARS FOR EVER!!!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                        <div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="review-company">Varun Nikhila</div>
                                                
                                                <div class="rating-stars">
                                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                                </div>
                                                <div class="review-date">
                                                    21/09/2016<br>
                                                   
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Quick Response &amp; Well Support.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>I needed cash for my business in a timely manner, and they delivered. They went above and beyond to expedite important paperwork and prevent unnecessary delays.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            <div class="col-12 col-md-4">
                                                <div class="review-company">Michael Duong</div>
                                       
                                                <div class="rating-stars">
                                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                                </div>
                                                <div class="review-date">
                                                    03/01/2017
                                             
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Easy access and fast service</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p> What can I say? This group of hard workers has helped me greatly in my business! I was struggling with my financial situation but they have helped me so much. The whole process is smoothly done. They have informed with updates every step of the way. I tend to worry a lot but with them, I feel safe and I put a lot of trust with them! They did not disappoint! Every question was never left unanswered. Funding Avenue was the best decision I made! Thanks guys! </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>






        <!--Contact Us
    ======================================
    -->

        <div class="line topmargin-sm bottommargin"></div>
        <div class="promo promo-full header-stick" style="background-color: #989697c9;">
            <div class="container clearfix">
                <h3>Call us today at <span style="color: white">+1.714.515.3968</span> or Email us at <span style="color: white">Michael@fundingavenue.com</span></h3>
                <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
                <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
            </div>
        </div>



    </div>
</section><!-- #content end -->





