@{
    ViewData["Title"] = "Real Estate";
}

<section id="slider" class="slider-element slider-parallax" style="background: url('https://homewoodsfurniture.com/images/bg-image-47.jpg') 0% 35% no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">

    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    <h1>
                        10% Down. 100% Home.
                    </h1>
                    <span class="d-none d-md-block">Make your dream home a reality with as little as 10% down on mortage up to $3M.</span>
                </div>

                <a href="/apply" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Get your rates</span></a>

            </div>
        </div>
        <div class="video-wrap" style="position:absolute;top:0;left:0;height:100%;z-index:1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
        </div>
    </div>
</section>


<!-- Content
        ============================================= -->
<section id="content">

    <div class="content-wrap-custom">

        <div class="container clearfix">

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Hassle Free</h3>
                    <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Well Constructed</h3>
                    <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Free Utilites</h3>
                    <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Flexible Rentals</h3>
                    <p>Canvas provides support for Native HTML5 Videos that can be added to a Full Width Background.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Easy Financing</h3>
                    <p>Display your Content attractively using Parallax Sections that have unlimited customizable areas.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <a href="#"><i class="icon-line2-layers"></i></a>
                    </div>
                    <h3 class="t400">Solid Paperwork</h3>
                    <p>You have complete easy control on each &amp; every element that provides endless customization possibilities.</p>
                </div>
            </div>

            <div class="clear"></div><div class="line topmargin-sm bottommargin-lg"></div>
        </div>




        <!-- Service Page Section
    ============================================= -->
        <div id="service" class="section page-section nobg nopadding notopmargin nobottommargin clearfix">

            <div class="row common-height clearfix nobottommargin">

                <!-- Service Image
            ============================================= -->
                <div class="col-lg-6 center col-padding parallax" style="background-image: url('http://themes.semicolonweb.com/html/canvas/demos/real-estate/images/hero/3.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
                    <div class="vertical-middle dark">
                        <div class="heading-block center">
                            <h2 class="nott ls0" style="font-size: 54px">How It Works</h2>
                        </div>
                    </div>
                </div>

                <!-- Service Featured Boxes
            ============================================= -->
                <div class="col-lg-6 col-padding" style="background-color: #F9F9F9">
                    <div>
                        <div class="row clearfix" style="padding: 20px 0">
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/scessior.svg" alt=""></a>
                                    </div>
                                    <h3>1) Painless pre-qualification</h3>
                                    <p>Get pre-qualified online in two minutes. No obligations, no commitments, no hidden fees.</p>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/moustache.svg" alt=""></a>
                                    </div>
                                    <h3>2) Select your loan.</h3>
                                    <p>Find the loan that matches your financial goals and apply online</p>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/comb.svg" alt=""></a>
                                    </div>
                                    <h3>3) Receive the funds.</h3>
                                    <p>Once you sign your paperwork, we'll transfer the funds. Usually within 30 days.</p>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8 bottommargin">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/time.svg" alt=""></a>
                                    </div>
                                    <h3>4) Great Location</h3>
                                    <p>Holisticly fashion cooperative ROI without unique intellectual capital. Synergistically engage orthogonal.</p>
                                </div>
                            </div>
                            <div class="col-lg-10 col-md-8">
                                <div class="feature-box fbox-plain">
                                    <div class="fbox-icon">
                                        <a href="#"><img src="demos/barber/images/icons/drier1.svg" alt=""></a>
                                    </div>
                                    <h3>5) Customer Service</h3>
                                    <p>Monotonectally evisculate high standards in best practices before exceptional web-readiness. Competently.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Call To an Action
            ============================================= -->


            </div>
        </div>

        <div class="notopmargin bottommargin-lg">
            <div class="clearfix">
                <a href="/apply" class="button button-full center tright footer-stick">
                    <div class="container clearfix">
                        Check out an estimate of house loan for free <strong>Get Quote</strong> <i class="icon-caret-right" style="top:4px;"></i>
                    </div>
                </a>
            </div>
        </div>

        <!--Review
    ================================================  -->
        <div id="testimonial" class="section page-section parallax nobottompadding clearfix" style="background-image: url('demos/barber/images/sections/2.jpg'); background-size: cover;" data-bottom-top="background-position:0px 0px;" data-top-bottom="background-position:0px -300px;">
            <div class="container clearfix review-box">

                <div class="heading-block center">
                    <img src="demos/barber/images/icons/stars.svg" alt="" height="50" style="margin-bottom: 20px">
                    <h3 class="ls2">Clients Reviews</h3>
                </div>

                <!-- Testimonial Slider
            ============================================= -->
                <div class="fslider testimonial testimonial-full nobgcolor noborder noshadow nopadding bottommargin-sm divcenter center clearfix" data-arrows="false" style="max-width: 700px">
                    <div class="flexslider">
                        <div class="slider-wrap">
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Collaboratively enhance intermandated innovation via cutting-edge core competencies. Professionally extend covalent e-markets and mission-critical communities. Dramatically communicate revolutionary web services for interactive synergy. Synergistically.</p>
                                    <div class="testi-meta">
                                        Steven Sanders
                                        <span class="ls0">Cerritos, CA</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Intrinsicly synergize excellent content whereas user friendly action items. Rapidiously transition multimedia based information after top-line alignments. Proactively e-enable front-end e-commerce without mission-critical customer service.</p>
                                    <div class="testi-meta">
                                        Ted Sanchez
                                        <span class="ls0">Seattle, WA</span>
                                    </div>
                                </div>
                            </div>
                            <div class="slide">
                                <div class="testi-content">
                                    <p>Compellingly engage multimedia based niche markets via value-added manufactured products. Competently formulate goal-oriented content for installed base users. Uniquely leverage other's granular ROI without 24/365 collaboration and idea-sharing.</p>
                                    <div class="testi-meta">
                                        Jane Nguyen
                                        <span class="ls0">New York, NY</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>




            <!--Contact Us
        ======================================
        -->
          <div class="line topmargin-sm bottommargin-lg"></div>
            <div class="promo promo-full header-stick ">
                <div class="container clearfix">
                    <h3>Call us today at <span>+1.949.574.1541</span> or Email us at <span>fundingavenue@email.com</span></h3>
                    <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
                    <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
                </div>
            </div>



        </div>
</section><!-- #content end -->




