@{
    ViewData["Title"] = "Real Estate";
}

<section id="slider" class="slider-element slider-parallax" style="background: url('https://homewoodsfurniture.com/images/bg-image-47.jpg') 0% 35% no-repeat; background-size: cover" data-height-xl="600" data-height-lg="500" data-height-md="400" data-height-sm="300" data-height-xs="250">

    <div class="slider-parallax-inner">

        <div class="container clearfix">
            <div class="vertical-middle dark center">

                <div class="heading-block nobottommargin center">
                    <h1>
                        House Loan Does Support Your Business
                    </h1>
                    <span class="d-none d-md-block">
                        Utilize the equity in your home to fund your business. <br>Pull up to 80% of your home’s value.
                        <br>Allow your home to work for you.
                    </span>
                </div>

                <a href="/apply" class="button button-border button-light button-rounded button-reveal tright button-large topmargin d-none d-md-inline-block"><i class="icon-angle-right"></i><span>Get your rates</span></a>

            </div>
        </div>
        <div class="video-wrap" style="position:absolute;top:0;left:0;height:100%;z-index:1;">
            <div class="video-overlay" style="background: rgba(0,0,0,0.5)"></div>
        </div>
    </div>
</section>


<!-- Content
        =============================================-->
<section id="content">

    <!-- 6 Component Contents
        =============================================-->
    <div class="content-wrap-custom">

        <div class="container clearfix">

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Easy Apply</h3>
                    <p>Online application is ready for you. Simple and paperless application makes faster to review and process your application.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Experienced Company</h3>
                    <p>Our company has worked over 20 years and handled various cases of start ups. Don't hasitate to contact us if you are not sure about where to start. </p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Quick Response and Approval</h3>
                    <p>We respond back to your questions and application within one businessday. We try to contact you as soon as possible for more details and qualifications before we process your application.</p>
                </div>
            </div>

            <div class="clear"></div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Fast Process</h3>
                    <p>We process the funding as soon as your applicatoin is received and qualified. Depends on the banks and partners, may take up from 1 - 4 weeks.</p>
                </div>
            </div>

            <div class="col_one_third">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">High Rate of Approval</h3>
                    <p>We have record for more than 94% of applications are approved and received funds. Our experts will help you to choose right solution for what you need for your business.</p>
                </div>
            </div>

            <div class="col_one_third col_last">
                <div class="feature-box fbox-plain">
                    <div class="fbox-icon">
                        <i class="icon-line2-layers"></i>
                    </div>
                    <h3 class="t400">Hassle Free</h3>
                    <p>Leave all paperwork to us after you apply to our company. We will get back to you as soon as we hear back from the bank. You do not need to deal with bank and parterning credit institutions. </p>
                </div>
            </div>

            @*<div class="line topmargin-sm bottommargin-sm"></div>*@
        </div>
    </div>




    <!-- Two Criteria Section
                    ============================================= -->
        <div class="section nomargin nopadding clearfix">
            <div class="row common-height clearfix">
                <!-- Half Section 1 -->
                <div class="col-lg-6 dark clearfix bgcolor-custom" style="background: url('~/images/background/2.jpg') center center no-repeat; background-size: cover;">
                    <div class="content">
                    <div class="row clearfix col-padding-custom">
                        
                        <div class="noborder">
                            <h3>Cash Out Refinanace Qualification</h3>
                        </div>
                        <p class="nobottommargin">Replaces your existing mortgage with a new home loan for more than you owe on your house. </p>
                        
                    </div>
                   
                    <div class="row clearfix" style="padding-left: 30px; padding-right: 30px;">
                        <div class="col_one_fourth center  nobottommargin notopmargin">
                            <div>
                                <i class="i-plain i-large divcenter icon-line2-credit-card topmargin-sm" style="color:white;"></i>
                                <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="660" data-refresh-interval="80" data-speed="700"></span></div>
                                <h5>Minimum <br/>Credit Score</h5>
                            </div>
                        </div>


                        <div class="col_one_fourth  center notopmargin nobottommargin ">
                            <div>
                                <i class="i-plain i-large divcenter icon-note topmargin-sm" style="color:white;"></i>
                                <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="43" data-refresh-interval="15" data-speed="700"></span>%</div>
                                <h5>Low Debt To Income Ratio</h5>
                            </div>
                        </div>

                        <div class="col_one_fourth center notopmargin nobottommargin" style="margin-right:2%">
                            <div>
                                <i class="i-plain i-large divcenter icon-banknote topmargin-sm" style="color:white;"></i>
                                <div class="counter-custom center notopmargin" style="font-size:31px;"><span></span>$$</div>
                                <h5>Income</h5>
                            </div>
                        </div>

                        <div class="col_one_fourth center notopmargin nomargin">
                            <div >
                                <i class="i-plain i-large divcenter icon-line-stack-2 topmargin-sm" style="color:white;"></i>
                                <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="80" data-refresh-interval="200" data-speed="700"></span>%</div>
                                <h5>Loan To Value</h5>
                            </div>
                        </div>
                    </div>
                        </div>
              
                       
               </div>
                
                <!-- Half Section 2 -->
                <div class="col-lg-6 dark clearfix bgcolor" style="background: url('demos/car/images/6.jpg') center center no-repeat; background-size: cover;">
                    <div class="content">
                        <div class="row clearfix col-padding-custom">
                            <div class="noborder">
                                <h3>Home Equity Line of Credit Qualification</h3>
                            </div>
                            <p class="nobottommargin">Replaces your existing mortgage with a new home loan for more than you owe on your house. </p>

                        </div>

                        <div class="row clearfix" style="padding-left: 30px; padding-right: 30px;">
                            <div class="col_one_fourth center  notopmargin nobottommargin">
                                <div>
                                    <i class="i-plain i-large divcenter icon-line2-credit-card topmargin-sm" style="color:white;"></i>
                                    <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="620" data-refresh-interval="80" data-speed="700"></span></div>
                                    <h5>Minimum <br />Credit Score</h5>
                                </div>
                            </div>


                            <div class="col_one_fourth  center notopmargin nobottommargin ">
                                <div>
                                    <i class="i-plain i-large divcenter icon-note topmargin-sm" style="color:white;"></i>
                                    <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="43" data-refresh-interval="10" data-speed="700"></span>%</div>
                                    <h5>Low Debt To Income Ratio</h5>
                                </div>
                            </div>

                            <div class="col_one_fourth center notopmargin nobottommargin " style="margin-right:2%;">
                                <div >
                                    <i class="i-plain i-large divcenter icon-banknote topmargin-sm" style="color:white;"></i>
                                    <div class="counter-custom center notopmargin" style="font-size:31px;"><span></span>$$</div>
                                    <h5>Income</h5>
                                </div>
                            </div>

                            <div class="col_one_fourth center nomargin">
                                <div >
                                    <i class="i-plain i-large divcenter icon-line-stack-2 topmargin-sm" style="color:white;"></i>
                                    <div class="counter center notopmargin" style="font-size:31px;"><span data-from="10" data-to="80" data-refresh-interval="20" data-speed="700"></span>%</div>
                                    <h5>Loan To Value</h5>
                                </div>
                            </div>
                        </div>
                    </div>




                </div>

                </div>
        </div>






    <!--Content: Benefits of House Loan
        ==============================================-->

        <div class="container clearfix">

            <h2 class="nott ls0 nobottommargin" style="font-size: 44px; text-align:center; padding-top:100px;">Benefits of House Loan</h2>


            <div class="row clearfix topmargin-sm bottommargin-lg">


                <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">

                    <div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                            <i class="icon-line2-check" style="color: #c85e51;"></i>
                        </div>
                        <h3>Immediate cash infusion for your business</h3>
                        <p>Cash refinance takes less process and time. Get your funds immeidately</p>
                    </div>

                    <div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                            <i class="icon-line2-check" style="color: #c85e51;"></i>
                        </div>
                        <h3>Lower interest rates and payments</h3>
                        <p>Cash Refinance intend to have lower interest rates than other loans and funds</p>
                    </div>

                    <div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                            <i class="icon-line2-check" style="color: #c85e51;"></i>
                        </div>
                        <h3>Potential Tax Benefits</h3>
                        <p>Your tax get reduced if you put your loan under house loan</p>
                    </div>

                    @*<div class="heading-block nobottomborder">
                    <h2 class="nott ls0" style="font-size: 44px; line-height: 1.2">Benefits of <br> House Loan</h2>
                </div>
                <span style="color: #BBB;">pede, numquam fringilla proident dis? Molestias repellat.<br><br>Quas perferendis urna, officiis necessitatibus deserunt recusandae urna ullamco hac do beatae cubilia iste dolorum, facilisi? Sit, hic, varius! Sollicitudin.<br><br>Nostrum feugiat beatae proident porro eleifend adipiscing nostrud aliquid sit.</span>
                <div class="clear"></div>
                <a href="/apply" class="button button-rounded button-black button-dark noleftmargin topmargin-sm clearfix">Apply Now</a>*@

                </div>

                <div class="col-lg-4 d-md-none d-lg-block center">

                    <img src="~/images/items/RealEstatePageItem.png" alt="Car">

                    <a href="/apply" class="button button-rounded button-black button-dark noleftmargin topmargin-sm clearfix">Apply Now</a>
                </div>

                <div class="col-lg-4 col-md-6 topmargin bottommargin-sm">
                    <div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                           <i class="icon-line2-check"></i>
                        </div>
                        <h3>Lower interest rates than credit cards</h3>
                        <p>House Loan specifically has lower interest rates on than other loans</p>
                    </div>

                    <div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                            <i class="icon-line2-check"></i>
                        </div>
                        <h3>Get money when you need it</h3>
                        <p>Immediate process and free from qualifications. Get money when you need it</p>
                    </div>

                    <div class="feature-box fbox-plain topmargin">
                        <div class="fbox-icon">
                            <i class="icon-line2-check"></i>
                        </div>
                        <h3>Pay interest only on the amount you draw</h3>
                        <p>It is similar to a creditcard that you only the amount you requested.</p>
                    </div>
                </div>

            </div>

        </div> <!-- Features Area End -->
    @*<div class="line topmargin-sm bottommargin-sm"></div>*@



    <!--Content: Alternative Plan Action
    =============================================-->

    <div class="notopmargin bottommargin">
        <div class="clearfix">
            <a href="/products/alternativefunding" class="button button-full center tright footer-stick">
                <div class="container clearfix">
                    Looking for more than house loan? <strong> Alternative Plans</strong> <i class="icon-caret-right" style="top:4px;"></i>
                </div>
            </a>
        </div>
    </div>

    <!-- Content: How It Works
    ============================================= -->
    <div id="service" class="section page-section nobg nopadding notopmargin nobottommargin clearfix">

        <div class="row common-height clearfix nobottommargin">

            <!-- Service Image
            ============================================= -->
            <div class="col-lg-6 center col-padding parallax" style="background-image: url('http://themes.semicolonweb.com/html/canvas/demos/real-estate/images/hero/3.jpg');" data-bottom-top="background-position:0px 100px;" data-top-bottom="background-position:0px -300px;">
                <div class="vertical-middle dark">
                    <div class="heading-block center">
                        <h2 class="nott ls0" style="font-size: 54px">How It Works</h2>
                    </div>
                </div>
            </div>

            <!-- Service Featured Boxes
            ============================================= -->
            <div class="col-lg-6 col-padding" style="background-color: #F9F9F9">
                <div>
                    <div class="row clearfix" style="padding: 20px 0">
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <img src="demos/barber/images/icons/scessior.svg" alt="">
                                </div>
                                <h3>1) Painless pre-qualification</h3>
                                <p>Get pre-qualified online in two minutes. No obligations, no commitments, no hidden fees.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <img src="demos/barber/images/icons/moustache.svg" alt="">
                                </div>
                                <h3>2) Select your loan.</h3>
                                <p>Find the loan that matches your financial goals and apply online</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/comb.svg" alt=""></a>
                                </div>
                                <h3>3) Confirmation and detail process with Funding Avenue.</h3>
                                <p>Once we receive your application, we contact you for more details and go over the process with you.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8 bottommargin">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/time.svg" alt=""></a>
                                </div>
                                <h3>4) Application in Process</h3>
                                <p>Once you sign your paperwork, we'll transfer the funds. Usually within 30 days.</p>
                            </div>
                        </div>
                        <div class="col-lg-10 col-md-8">
                            <div class="feature-box fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><img src="demos/barber/images/icons/drier1.svg" alt=""></a>
                                </div>
                                <h3>5) Receive Funds</h3>
                                <p>Your fund will be on your way once the credit parterning institution approves your loan.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



        </div>
    </div>


    <!-- Contents: Reviews
        ===============================-->
    <div class="container clearfix topmargin-lg">

        <div class="emphasis-title center divcenter" style="max-width: 800px">
            <h2 class="font-secondary nott t700" style="font-size: 45px">Reviews From Our Clients</h2>
        </div>

        <div class="row bottommargin clearfix">
            <div class="clear"></div>

            <div class="col-12 reviews-lists clearfix">

                <div id="oc-team" class="owl-carousel team-carousel bottommargin carousel-widget" data-margin="0" data-pagi="false" data-items="1" data-loop="true" data-animate-in="fadeIn" data-animate-out="fadeOut" data-autoplay="5000">

                    @*<div class="oc-item">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1 col-12">
                                    <div class="review clearfix">
                                        <div class="row">
                                            @*<div class="col-12 col-md-4">
                                                <div class="review-company">Datanetpress</div>
                                                <div class="review-id">Themeforest Author</div>
                                                <div class="rating-stars fright">
                                                    <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                                </div>
                                                <div class="review-date">
                                                    Sold 19/11/2016<br>
                                                    after 22 days
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-8">
                                                <div class="review-title">
                                                    <h3>Awesome Template and Good Support.</h3>
                                                </div>
                                                <div class="review-content">
                                                    <p>Not only is this a REALLY professionally designed website, but the support is phenomenal. They have promptly answered all of my questions (and I had several :) ) Nice job SemiColonWeb!!! I highly recommend your HTML template to anyone looking for a website. Excellent, only gripe is the php email section, that needs to be better otherwise a brilliant template and set of codes. well done. Hello, I would like to say that :SemiColonWeb" has being the SUPER BEST CUSTOMER SERVICE I HAVE EVER HAD during all my year in Envato. This Guys are the Best, not only on Design by the most Important for us, in customer service. There are fast, super professional, on time and the most important they care about their clients. 100 BIG STARS FOR EVER!!!</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>*@

                    <div class="oc-item">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-12">
                                <div class="review clearfix">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="review-company">VarunD</div>
                                            <div class="review-id">Themeforest Author</div>
                                            <div class="rating-stars">
                                                <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                            </div>
                                            <div class="review-date">
                                                Sold 21/09/2016<br>
                                                after 39 days
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="review-title">
                                                <h3>Quick Response &amp; Well Support.</h3>
                                            </div>
                                            <div class="review-content">
                                                <p>I needed cash for my business in a timely manner, and they delivered. They went above and beyond to expedite important paperwork and prevent unnecessary delays.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="oc-item">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1 col-12">
                                <div class="review clearfix">
                                    <div class="row">
                                        <div class="col-12 col-md-4">
                                            <div class="review-company">Paultran47</div>
                                            <div class="review-id">Themeforest Author</div>
                                            <div class="rating-stars">
                                                <i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i><i class="icon-star3"></i>
                                            </div>
                                            <div class="review-date">
                                                Sold 03/01/2017<br>
                                                after 11 days
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-8">
                                            <div class="review-title">
                                                <h3>Easy access and fast service</h3>
                                            </div>
                                            <div class="review-content">
                                                <p> What can I say? This group of hard workers has helped me greatly in my business! I was struggling with my financial situation but they have helped me so much. The whole process is smoothly done. They have informed with updates every step of the way. I tend to worry a lot but with them, I feel safe and I put a lot of trust with them! They did not disappoint! Every question was never left unanswered. Funding Avenue was the best decision I made! Thanks guys! </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>






                <!--Contact Us
            ======================================
            -->
    
    <div class="line topmargin-sm bottommargin"></div>
    <div class="promo promo-full header-stick" style="background-color: #989697c9;">
        <div class="container clearfix">
            <h3>Call us today at <span style="color: white">+1.949.574.1541</span> or Email us at <span style="color: white">fundingavenue@email.com</span></h3>
            <span>We strive to provide Our Customers with Top Notch Support to make their Funding Experience Wonderful</span>
            <a href="/contact" class="button button-dark button-xlarge button-rounded">Contact Us</a>
        </div>
    </div>



   
</section><!-- #content end -->




