@{
    ViewData["Title"] = "Home Page";
}

<section id="slider" class="slider-element clearfix" style="height: 500px; background: url('/images/background/HomePage.jpg') center center no-repeat; background-size: cover;">
    <div class="vertical-middle">
        <div class="container clearfix">

            <div class="clearfix center divcenter" style="max-width: 700px;">
                <div class="emphasis-title">
                    <h1 class="font-secondary" style="color: #FFF; font-size: 56px; font-weight: 900; text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);">Your Money Is Our Priority</h1>
                    <p style="font-weight: 300; opacity: .7; color: #FFF; text-shadow: 0 -4px 20px rgba(0, 0, 0, .25);">Unlock retirement assets to fund your business.<br>No interest. No tax penalties</p>
                </div>
                <button href="#" class="button t400" type="submit" style="border-radius: 3px;">Apply Now</button>

                @*<div class="subscribe-widget" data-loader="button">
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin" data-animate="fadeInUp">
                            <div class="input-group divcenter">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Enter your Email Address.." style="border: 0; box-shadow: none; overflow: hidden;">
                                <div class="input-group-append">
                                </div>
                            </div>
                        </form>
                    </div>*@
            </div>

        </div>
    </div>


</section>

<div class="container topmargin-lg bottommargin-lg clearfix">

    <div class="divcenter" style="max-width: 960px">
        <div class="heading-block center nobottomborder">
            <h2 class="ls2 t700">Our Services</h2>
            <span>Competently benchmark backward-compatible technologies vis-a-vis<br>parallel convergence. Rapidiously innovate stand-alone.</span>
        </div>
        <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

            <ul class="tab-nav clearfix">
                <li><a href="#tabs-1"><i class="icon-line2-key"></i>24x7 Available</a></li>
                <li><a href="#tabs-2"><i class="icon-line2-social-dropbox"></i>Complete Solutions</a></li>
                <li><a href="#tabs-3"><i class="icon-line2-drop"></i>Water Treatments</a></li>
                <li><a href="#tabs-4"><i class="icon-line2-pointer"></i>Location Independant</a></li>
            </ul>

            <div class="tab-container">

                <div class="tab-content clearfix" id="tabs-1">
                    <div class="story-box description-left clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/1.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">We help people to create new Website.</h3>
                            <div class="story-box-content">
                                <p>Uniquely productize cross-unit action items with multifunctional imperatives. Quickly communicate collaborative relationships rather than timely materials. Progressively foster unique interfaces vis-a-vis backend e-services.</p>
                                <button class="t300 button noleftmargin button-rounded">Read Canvas's story</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-2">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/2.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">Get better results tomorrow by reading this post.</h3>
                            <div class="story-box-content">
                                <p>Progressively streamline future-proof networks rather than virtual channels. Intrinsicly architect performance based products with B2C communities. Appropriately underwhelm integrated information via superior platforms.</p>
                                <button class="t300 button noleftmargin button-rounded">Read More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-3">
                    <div class="story-box description-left clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/3.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">TK’s recipe of the week: Guiness beef stew.</h3>
                            <div class="story-box-content">
                                <p>Compellingly synthesize technically sound users without technically sound vortals. Rapidiously redefine maintainable leadership with multifunctional strategic theme areas. Appropriately plagiarize business ideas vis-a-vis.</p>
                                <button class="t300 button noleftmargin button-rounded">Read About Me</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-content clearfix" id="tabs-4">
                    <div class="story-box clearfix">
                        <div class="story-box-image">
                            <img src="demos/interior-design/images/story/4.jpg" alt="story-image">
                        </div>
                        <div class="story-box-info">
                            <h3 class="story-title">We help people to create new Website.</h3>
                            <div class="story-box-content">
                                <p>Dynamically exploit cross-platform sources vis-a-vis scalable paradigms. Efficiently plagiarize multifunctional internal or "organic" sources before intuitive innovation. Synergistically facilitate goal-oriented ROI vis-a-vis client-focused.</p>
                                <a href="#">Read Deanne's story</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>
