@{
    ViewData["Title"] = "Home Page";
}

<section id="slider" class="slider-element clearfix" style="height: 500px; background: url('/images/background/HomePage.jpg') center center no-repeat; background-size: cover;">
    <div class="vertical-middle">
        <div class="container clearfix">

            <div class="clearfix center divcenter" style="max-width: 700px;">
                <div class="emphasis-title">
                    <h1 class="font-secondary" style="color: #FFF; font-size: 56px; font-weight: 900; text-shadow: 0 7px 10px rgba(0,0,0,0.07), 0 4px 4px rgba(0,0,0,0.2);">Your Money Is Our Priority</h1>
                    <p style="font-weight: 300; opacity: .7; color: #FFF; text-shadow: 0 -4px 20px rgba(0, 0, 0, .25);">Unlock retirement assets to fund your business.<br>No interest. No tax penalties</p>
                </div>
                <button href="/apply" class="button t400" type="submit" style="border-radius: 3px;">Apply Now</button>

                @*<div class="subscribe-widget" data-loader="button">
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin" data-animate="fadeInUp">
                            <div class="input-group divcenter">
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control form-control-lg not-dark required email" placeholder="Enter your Email Address.." style="border: 0; box-shadow: none; overflow: hidden;">
                                <div class="input-group-append">
                                </div>
                            </div>
                        </form>
                    </div>*@
            </div>

        </div>
    </div>


</section>
<section id="content">

    <div class="content-wrap nobottompadding" style="z-index: 1;">

        <div class="container topmargin clearfix">

            <!-- What We Do
            ============================================= -->
            <div class="heading-block center noborder" data-heading="W">
                <h3>What We Do</h3>
            </div>
            <div class="row clearfix">
                <div class="center col-lg-8 offset-lg-2 bottommargin">
                    <h3 class="text-rotater font-secondary" data-separator="," data-rotate="fadeInRight" data-speed="3500">Canvas is a Powerful, Responsive &amp; Raw Multi-Purpose Multi-Page &amp; One-Page HTML5 Template. Build whatever you like with this Template. Be it <span class="t-rotate color">Business,Corporate,Medical,Travel,Construction,Real Estate,Media Agency,Portfolio,Restaurant,Magazine,Wedding,Christmas,Blog,App Showcase</span><br> just everything is possible with Canvas.</h3>
                </div>

                <div class="clear"></div>

                <!-- Features colomns
                ============================================= -->
                <div class="row">
                    <div class="col-sm-3 bottommargin-sm"> @*divide 12/number of columns you want; will get you 4 columns here*@
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/UnsecuredLoans"><img class="image_fade product-image-size" src="~/images/background/UnsecuredLoanHomePage.jpg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Unsecured Loans<span class="subtitle font-secondary t300 ls0">Globally parallel task premium infomediaries</span></h3>
                                <a href="/products/unsecuredloans" class="button-link noborder color">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 bottommargin-sm">
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/perseonalloans"><img class="image_fade product-image-size" src="~/images/background/PersonalLoanHomePage.jpg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Personal Loans<span class="subtitle font-secondary t300 ls0">Energistically visualize market-driven.</span></h3>
                                <a href="/products/personalloans" class="button-link noborder color">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 bottommargin-sm">
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/businessentitycreation"><img class="image_fade product-image-size" src="~/images/background/BusinessEntityHomePage.jpg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Business Entity Creation<span class="subtitle font-secondary t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                                <a href="/products/businessentitycreation" class="button-link noborder color">Read More</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3 bottommargin-sm">
                        <div class="feature-box media-box fbox-bg">
                            <div class="fbox-media">
                                <a href="/products/realestate"><img class="image_fade product-image-size" src="~/images/background/RealEstateHomePage.jpeg" alt="Featured Box Image"></a>
                            </div>
                            <div class="fbox-desc">
                                <h3 class="nott ls0 t600">Real Estate<span class="subtitle font-secondary t300 ls0">Enthusiastically iterate enabled portals after.</span></h3>
                                <a href="/products/realestate" class="button-link noborder color">Read More</a>
                            </div>
                        </div>

                    </div>
                </div>
        </div>
        </div>
    </div>
      
</section>



        @*<section>
            <div class="container topmargin-lg bottommargin-lg clearfix">

                <div class="divcenter" style="max-width: 960px">
                    <div class="heading-block center nobottomborder">
                        <h2 class="ls2 t700">Our Services</h2>
                        <span>Consulting and Funding Company to support businesses</span>
                    </div>
                    <div class="tabs tabs-alt tabs-responsive tabs-justify clearfix" id="tab">

                        <ul class="tab-nav clearfix">
                            <li><a href="#tabs-1"><i class="fas fa-hand-holding-usd"></i>Unsecured Loans</a></li>
                            <li><a href="#tabs-2"><i class="fas fa-user-circle"></i>Personal Loans</a></li>
                            <li><a href="#tabs-3"><i class="fas fa-briefcase"></i>Business Entity Creation</a></li>
                            <li><a href="#tabs-4"><i class="fas fa-home"></i>Real Estate</a></li>
                        </ul>

                        <div class="tab-container">

                            <div class="tab-content clearfix" id="tabs-1">
                                <div class="story-box description-left clearfix">
                                    <div class="story-box-image">
                                        <img src="~/images/background/UnsecuredLoanHomePage.jpg" alt="story-image">
                                    </div>
                                    <div class="story-box-info">
                                        <h3 class="story-title">We help startup business to take unsecured loans at low-risk</h3>
                                        <div class="story-box-content">
                                            <p></p>
                                            <button class="t300 button noleftmargin button-rounded">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content clearfix" id="tabs-2">
                                <div class="story-box clearfix">
                                    <div class="story-box-image">
                                        <img src="demos/interior-design/images/story/2.jpg" alt="story-image">
                                    </div>
                                    <div class="story-box-info">
                                        <h3 class="story-title">Get better results tomorrow by reading this post.</h3>
                                        <div class="story-box-content">
                                            <p>Progressively streamline future-proof networks rather than virtual channels. Intrinsicly architect performance based products with B2C communities. Appropriately underwhelm integrated information via superior platforms.</p>
                                            <button class="t300 button noleftmargin button-rounded">Read More</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content clearfix" id="tabs-3">
                                <div class="story-box description-left clearfix">
                                    <div class="story-box-image">
                                        <img src="demos/interior-design/images/story/3.jpg" alt="story-image">
                                    </div>
                                    <div class="story-box-info">
                                        <h3 class="story-title">TK’s recipe of the week: Guiness beef stew.</h3>
                                        <div class="story-box-content">
                                            <p>Compellingly synthesize technically sound users without technically sound vortals. Rapidiously redefine maintainable leadership with multifunctional strategic theme areas. Appropriately plagiarize business ideas vis-a-vis.</p>
                                            <button class="t300 button noleftmargin button-rounded">Read About Me</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content clearfix" id="tabs-4">
                                <div class="story-box clearfix">
                                    <div class="story-box-image">
                                        <img src="demos/interior-design/images/story/4.jpg" alt="story-image">
                                    </div>
                                    <div class="story-box-info">
                                        <h3 class="story-title">We help people to create new Website.</h3>
                                        <div class="story-box-content">
                                            <p>Dynamically exploit cross-platform sources vis-a-vis scalable paradigms. Efficiently plagiarize multifunctional internal or "organic" sources before intuitive innovation. Synergistically facilitate goal-oriented ROI vis-a-vis client-focused.</p>
                                            <a href="#">Read Deanne's story</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

            </div>

            </section>*@
