@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<!-- Header
============================================= -->
<header id="header" class="static-sticky full-header clearfix">

    <div id="header-wrap">

        <div class="container-fluid clearfix">

            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!-- Logo
    ============================================= -->
            <div id="logo">
                <a href="/Home" class="standard-logo"><img src="~/images/logo.png" alt="Canvas Logo"></a>
                <a href="/Home" class="retina-logo"><img src="~/images/logo.png" alt="Canvas Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
    ============================================= -->
            <nav id="primary-menu" class="with-arrows clearfix">
                <ul>
                    <li><a href="/AboutUs"><div>About Us</div></a></li>
                    <li><a href="/Contact"><div>Contact</div></a></li>
                    <li><a href="/FAQ"><div>FAQ</div></a></li>
                    <li class="mega-menu">
                        <a href="#"><div>Products</div></a>
                        <!-- Mega Menu Content
        ============================================= -->
                        <div class="mega-menu-content style-2 border-top-0 clearfix">
                            <!-- Mega Menu Col 1 -->
                            <ul class="mega-menu-column col-lg-3">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon">
                                            <img src="~/images/icons/documents.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
                                        </div>
                                        <h3 class="t500"><a href="/products/unsecuredloans">Unsecured Loans</a></h3>
                                        <p class="d-none d-lg-block mb-0 t300">Is a type of Internet hosting service that allows individuals and organizations to make their website accessible via the World Wide Web.</p>
                                        <a href="/products/unsecuredloans" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>
                            <!-- Mega Menu Col 2 -->
                            <ul class="mega-menu-column col-lg-3">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon">
                                            <img src="~/images/icons/personalLoan.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
                                        </div>
                                        <h3 class="t500"><a href="/products/personalloans">Personal Loans</a></h3>
                                        <p class="d-none d-lg-block mb-0 t300">The major benefit cloud hosting offers over shared hosting is that it allows you to utilize the resources of multiple servers.</p>
                                        <a href="/products/personalloans" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>
                            <!-- Mega Menu Col 3 -->
                            <ul class="mega-menu-column col-lg-3">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon">
                                            <img src="~/images/icons/businessEntity.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
                                        </div>
                                        <h3 class="t500"><a href="/products/businessentitycreation">Business Entity Creation</a></h3>
                                        <p class="d-none d-lg-block mb-0 t300">Dedicated server or managed hosting service is a type of Internet hosting in which the client leases an entire server not shared with anyone.</p>
                                        <a href="/products/businessentitycreation" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>
                            <!-- Mega Menu Col 4 -->
                            <ul class="mega-menu-column col-lg-3">
                                <li>
                                    <div class="feature-box not-dark fbox-small fbox-center nobottommargin">
                                        <div class="fbox-icon">
                                            <img src="~/images/icons/realEstate.svg" class="noradius nobg tleft" alt="" style="width: 52px;">
                                        </div>
                                        <h3 class="t500"><a href="/products/realestate">Real Estate</a></h3>
                                        <p class="d-none d-lg-block mb-0 t300">Shared Web Hosting service refers to a web hosting service where many websites reside on one web server connected to the Internet.</p>
                                        <a href="/products/realestate" class="btn btn-link mt-2 color p-0">Learn More &#8250;</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav><!-- #primary-menu end -->

            <!-- Apply Now Button -->
            <nav id="primary-menu" class="with-arrows apply-now clearfix">
                <ul>
                    <li><a href="/apply" data-scrollto="#booking-appointment-form" data-offset="100" data-easing="easeInOutExpo" data-speed="1200" class="bgcolor" style="color:#fff;">Apply Now</a></li>
                </ul>
            </nav>
        </div>

    </div>

    <div id="header-trigger"><i class="icon-line-menu"></i><i class="icon-line-cross"></i></div>

</header><!-- #header end -->